@charset "UTF-8";
body{
    margin: 8px;
    overflow: hidden;
}
.oui-row-full {
    height: 100%;
    margin: -8px;
}

.oui-row-full .oui-col-spanFull {
    height: 100%;
}

.oui-row-full .wrapper-content {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.oui-row-full .oui-menu-tab + .wrapper-content{
    top: 50px;
}
.manager-toolbar {
    width: 98%;
    position: fixed;
    z-index: 2;
    display: block;
    margin-bottom: 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.manager-toolbar .toolbar-group{
    display: inline-block;
    vertical-align: top;
    font-size: 0;
}
.toolbar-group-item{
    width: 18px;
    height: 18px;
    border: 0;
    outline: none;
    display: inline-block;
    vertical-align: top;
    margin-left: 10px;
    position: relative;
    cursor: pointer;
}
.toolbar-group-item:before{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    top: 23px;
    left: 50%;
    margin-left: -5px;
    border-width: 0 5px 5px;
    border-bottom-color: #000;
    display: none;
}
.toolbar-group-item:after{
    padding: 3px 8px;
    color: #fff;
    font-size: 12px;
    text-align: center;
    background-color: #000;
    border-radius: 4px;
    white-space: nowrap;
    position: absolute;
    left: 50%;
    margin-left: -20px;
    top: 28px;
    display: none;
}
.toolbar-group-item:hover:before,.toolbar-group-item:hover:after{
    display: block;
}
.toolbar-group-icon{
    background: url("../images/toolbar-icon.png") no-repeat;
}
.toolbar-group-icon-narrow{
    background-position: 0 0;
}
.toolbar-group-icon-enlarge{
    background-position: -18px 0;
}
.toolbar-group-icon-open{
    background-position: -36px 0;
}
.toolbar-group-icon-close{
    background-position: -54px 0;
}
.toolbar-group-icon-download{
    background-position: -72px 0;
}
.toolbar-group-icon-narrow:hover{
    background-position: 0 0;
}
.toolbar-group-icon-enlarge:hover{
    background-position: -18px 0;
}
.toolbar-group-icon-open:hover{
    background-position: -36px -18px;
}
.toolbar-group-icon-close:hover{
    background-position: -54px -18px;
}
.toolbar-group-icon-download:hover{
    background-position: -72px -18px;
}
.toolbar-group-icon-narrow:after{
    content: "缩小";
}
.toolbar-group-icon-enlarge:after{
    content: "放大";
}
.toolbar-group-icon-open:after{
    content: "展开";
}
.toolbar-group-icon-close:after{
    content: "收起";
}
.toolbar-group-icon-download:after{
    content: "下载";
}
.manager-content {
    position: absolute;
    top: 62px;
    left: 0;
    right: 0;
    bottom: 0;
}

.edit-orgTree-full {
    background-color: #ffffff;
    top: 0;
    z-index: 1;
}

.manager-orgTree {
    width: 100%;
    height: 100%;
    position: relative;
}

.manager-orgTree-area {
    text-align: center;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    overflow: hidden;
}

.manager-orgTree-footer {
    background-color: #ffffff;
    text-align: center;
    padding: 14px 0;
    position: absolute;
    left: -20px;
    right: 0;
    bottom: 0;
    box-shadow: 2px -4px 4px rgba(0, 0, 0, .1);
}
.manager-toolbar-right{
    display: inline-block;
    vertical-align: top;
    font-size: 0;
}
.manager-toolbar-right .zoom-view{
    display: inline-block;
    vertical-align: top;
}
.version-content{
    text-align: center;
    padding: 30px;
}
.version-content button{
    display: block;
    margin: 20px auto;
    font-size: 14px;
}
.version-content button span{
    font-size: 14px;
}

