@charset "utf-8";
html,body {
    height: 100%;
    margin: 0;
}
body {
    background: #f5f5f5;
    font-family: Arial, "Microsoft YaHei", "微软雅黑";
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
h1,h2,h3,h4,h5,h6 {
    margin: 0;
}
p {
    margin: 0;
}
a {
    text-decoration: none;
    outline: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
a:focus {
    outline: none !important;
}
em, i {
    font-style: normal;
}
.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
    outline: none;
}

.color1 {
    color: #6067ff;
}

/********* 页面容器 ********/
.pg-container {
    padding-bottom: 0;
    /*height: 100%;*/
    min-height: 100%;
    overflow: hidden;
}

/************ 头部 ************/
.pg-header .navbar {
    background: #fff;
}
.rs-search-box {
    margin-left: 10px;
    margin-right: 10px;
}
.rs-search-box .form-control,
.rs-search-box .btn-default {
    border-color: #eaeaea;
}
.rs-search-box .form-control {
    box-shadow: none;
    -webkit-box-shadow: none;
}
.rs-search-box .form-control:focus {
    -webkit-box-shadow: 0 0 8px rgba(96, 103, 255, .35);
    box-shadow: 0 0 8px rgba(96, 103, 255, .35);
}
.rs-search-box .btn i {
    color: #999;
}
.rs-search-box .btn-default.active.focus,
.rs-search-box .btn-default.active:focus,
.rs-search-box .btn-default.active:hover,
.rs-search-box .btn-default:active.focus,
.rs-search-box .btn-default:active:focus,
.rs-search-box .btn-default:active:hover {
    border-color: #aaa;
    box-shadow: none;
    -webkit-box-shadow: none;
}
.pg-header .navbar-nav .nav-new-article a {
    padding-left: 0;
    padding-right: 0;
}
.pg-header .navbar-nav .ver-line {
    display: inline-block;
    padding: 15px 12px 15px 15px;
}
.pg-header .navbar-nav .nav-new-article a:hover {
    color: #6067ff;
}
.pg-header .user-auth {
    padding-right: 10px;
}
.pg-header .user-auth a {
    display: inline-block;
    vertical-align: middle;
    padding-left: 5px;
    padding-right: 5px;
}


/************ 主体部分 ************/
.pg-block {
    margin-bottom: 15px;
    background: #fff;
    border-radius: 3px;
}
.pg-block-header {
    height: 46px;
    line-height: 46px;
    font-size: 14px;
    padding: 0 15px;
    border-bottom: 1px solid #f5f5f5;
}
.pg-block-header a {
    color: #999;
    font-size: 12px;
    text-decoration: none;
}
.pg-block-header a:hover {
    color: #6067ff;
}
.pg-list-item {
    border-bottom: 1px solid #f5f5f5;
    position: relative;
}
.pg-list-item:last-of-type {
    border-bottom: none;
}
/******* 删除 *******/
.pg-list-link .article-count .pg-list-item-del {
    display: none;
    margin-left: 25px;
}
.pg-list-link:hover .article-count .pg-list-item-del {
    display: inline-block;
}
@media (max-width: 767px) {
    .show-xs {
        display: inline-block!important;
    }
}
.pg-list-link .article-count .pg-list-item-del i {
    width: 17px;
    height: 17px;
    background: url('../image/icon-del.png') center no-repeat;
    background-size: 100%;
    font-style: normal;
    display: inline-block;
    vertical-align: middle;
}
.pg-list-link .article-count .pg-list-item-del span {
    display: inline-block;
    vertical-align: middle;
    color: #d81e06;
}


.pg-list-link {
    display: block;
    padding: 15px;
    text-decoration: none;
}
.pg-list-link:hover {
    text-decoration: none;
    background: #fbfbfb;
}
.pg-list-link .article-title {
    margin: 0;
    color: #333;
    font-size: 16px;
    font-weight: bold;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.pg-list-link .article-attr {
    margin: 15px 0 10px;
    font-size: 12px;
    color: #909090;
}
.pg-list-link .article-attr > span {
    display: inline-block;
    vertical-align: middle;
    color: #ccc;
    margin: 0 7px;
}
.pg-list-link .article-attr object {
    display: inline-block;
    vertical-align: middle;
    font-size: 0;
    letter-spacing: 0;
}
.pg-list-link .article-attr object a,
.pg-list-link .article-attr object em,
.pg-list-link .article-attr object span {
    display: inline-block;
    font-size: 12px;
    vertical-align: middle;
    color: #909090;
}
.pg-list-link .article-attr object a:hover {
    text-decoration: none;
}
.pg-list-link .article-attr object:first-of-type a:hover {
    color: #6067ff;
}
.pg-list-link .article-attr object em {
    display: inline-block;
    vertical-align: middle;
    margin: 0 5px;
}
.pg-list-link .article-attr .link-label i,
.pg-list-link .article-attr .link-label span {
    display: inline-block;
    font-size: 12px;
}
.pg-list-link .article-attr .link-label span {
    color: #6067ff;
}

.pg-list-link .article-attr .color-blue {
    color: #56c4e1;
}
.pg-list-link .article-attr .color-orange {
    color: #ff955b;
}
.pg-list-link .article-attr .color-green {
    color: #42c67d;
}
.pg-list-link .article-attr .color-red {
    color: #e8596b;
}

.pg-list-link .article-count li {
    display: inline-block;
    line-height: normal;
    font-size: 13px;
}
.pg-list-link .article-count li:nth-of-type(2) {
    margin: 0 18px;
}
.pg-list-link .article-count li i,
.pg-list-link .article-count li span {
    display: inline-block;
    vertical-align: middle;
    color: #909090;
}
.pg-list-link .article-count li i {
    font-size: 16px;
}
/****** 缩略图 ******/
.pg-list-link  .pg-item-thumb {
    height: 80px;
    width: 120px;
    border-radius: 4px;
}
.pg-list-link .success {
    -webkit-animation: fadeIn 0.8s ease 0.2s 1 both;
    animation: fadeIn 0.8s ease 0.2s 1 both;
}
@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/****** 加载更多 ******/
.pg-list-item .pg-item-more {
    padding: 22px 0;
    text-align: center;
}
.pg-list-item .pg-item-more .pg-btn-more {
    height: 30px;
    line-height: 30px;
    padding: 0 20px;
    font-size: 12px;
    background: linear-gradient(left, #6067ff 0%, #9f6ed9 100%) #6067ff;
    background: -webkit-linear-gradient(left, #6067ff 0%, #9f6ed9 100%) #6067ff;
    border: none;
    border-radius: 4px;
    text-align: center;
    outline: none;
    color: #fff;
}
.pg-list-item .pg-item-more .pg-btn-more:hover {
    background: -webkit-linear-gradient(left, #6067ff 0%, #7e3dd9 100%) #6067ff;
}

/****** 热门标签 ******/
.pg-block-cont .hot-label-list {
    padding: 12px 15px 0;
    font-size: 0;
    letter-spacing: 0;
}
.pg-block-cont .hot-label-list li {
    display: inline-block;
    font-size: 13px;
    vertical-align: middle;
    margin-right: 12px;
    margin-bottom: 12px;
}
.pg-block-cont .hot-label-list li a {
    display: block;
    height: 26px;
    line-height: 26px;
    font-size: 12px;
    color: #686868;
    padding: 0 13px;
    text-align: center;
    border: 1px solid #d8d8d8;
    border-radius: 20px;
    text-decoration: none;
    transition: 0.3s;
}
.pg-block-cont .hot-label-list li a:hover {
    color: #6067ff;
    border-color: #6067ff;
}


/************ 登录框 ************/
.pg-log-box .modal-dialog {
    margin: 0 auto;
    position: relative;
    height: 100%;
}

.pg-log-box .modal-content {
    width: 300px;
    height: 410px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.pg-log-wrap {
    padding: 15px 20px;
}

.pg-log-box .log-header {
    padding: 10px 0 8px;
    border-bottom: 1px solid #e4e4e4;
    margin-bottom: 30px;
}

.pg-log-box .log-header h2 {
    font-size: 16px;
    color: #4a4a4a;
    margin: 0;
    font-weight: bolder;
}

.pg-log-box .log-header a {
    color: #6067ff;
    text-decoration: none;
}

.pg-log-box .log-input-box {
    position: relative;
    padding: 8px 5px;
    margin-bottom: 20px;
}

.pg-log-box .log-input-box em {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: no-repeat center;
    vertical-align: middle;
    position: relative;
    z-index: 3;
}

.pg-log-box .log-input-box input {
    display: inline-block;
    width: 220px;
    height: 24px;
    line-height: 24px;
    padding-left: 8px;
    border: none;
    outline: none;
    vertical-align: middle;
    background: none;
    position: relative;
    z-index: 3;
}

.pg-log-box .log-input-box label {
    width: 100%;
    height: 100%;
    position: absolute;
    top: -1px;
    left: -1px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
.pg-log-box .log-input-box label.error {
    border-color: #f35;
}

.pg-log-box .log-input-user em {
    background-image: url("../image/icon-user.png");
}

.pg-log-box .log-input-pwd em {
    background-image: url("../image/icon-pwd.png");
}

.pg-log-box .log-btn-box {
    margin: 25px 0 5px;
}
.pg-log-box .log-btn-box a {
    text-decoration: none;
}
.pg-log-box .log-btn-box .log-btn {
    display: block;
    width: 251px;
    height: 40px;
    line-height: 40px;
    color: #fff;
    font-size: 14px;
    text-align: center;
    background: #6067ff;
    box-shadow: 0 2px 4px 0 rgba(96, 103, 255, .25);
    border-radius: 20px;
}

.pg-log-box .log-btn-box .log-tip {
    display: block;
    text-align: center;
    margin-top: 10px;
    color: #4a4a4a;
}
.pg-log-box .log-btn-box .log-tip.color-purple {
    color: #6067ff;
}

.pg-log-box .log-third {
    padding: 10px 0 20px;
    background: #f4f6fc;
}

.pg-log-box .log-third > h3 {
    text-align: center;
    font-size: 14px;
    color: #4a4a4a;
}

.pg-log-box .log-third .third-opt {
    text-align: center;
    margin-top: 20px;
}

.pg-log-box .log-third .third-opt li {
    display: inline-block;
    width: 40px;
    height: 40px;
    border: 2px solid #6067ff;
    border-radius: 50%;
    vertical-align: middle;
    background: no-repeat center;
}

.pg-log-box .log-third .third-opt li a {
    display: block;
    width: 100%;
    height: 100%;
}
.pg-log-box .log-third .third-opt li:hover {
    text-decoration: none;
}

.pg-log-box .log-third .third-opt li.left {
    background-image: url("../image/icon-qq.png");
}

.pg-log-box .log-third .third-opt li.center {
    margin: 0 30px;
    background-image: url("../image/icon-wx.png");
}

.pg-log-box .log-third .third-opt li.right {
    background-image: url("../image/icon-wb.png");
}


/********** 尾部 ***********/
.pg-footer {
    background: #25263E;
    padding: 15px 0;
    margin-top: -47px;
}
.pg-footer .pg-ft-wrap {
    text-align: center;
    color: #f5f5f5;
    font-size: 12px;
}
.pg-footer .pg-ft-wrap a {
    color: #f5f5f5;
}

/********** 大屏幕 ***********/
@media (min-width: 768px) {

    /************ 头部 ************/
    .rs-search-box {
        margin-left: 60px;
        margin-right: 60px;
    }

}

