<!--分页 组件 -->
<template>
    <!-- 分页 -->
    <div class="pagination-outer">
        <el-pagination
                background
                :current-page="currentPage"
                :page-sizes="[5, 10, 20, 40,100]"
                @size-change="handleSizeChange"
                @current-change="handleCurrentChange"
                :hide-on-single-page="true"
                layout="total, prev, pager, next"
                :page-size="pageSize"
                :total="total">
        </el-pagination>
    </div>
</template>

<script>
    //:hide-on-single-page="true"
    // layout="total, sizes, prev, pager, next, jumper"
    exports = {
        templateType: 'vue',
        data: function()
        {
            return {
                currentPage:1,
                pageSize:10,
                total:0
            }
        },
        mounted: function()
        {

        },
        methods: {
            _controlOnUpdate: function(v, ov)
            {
                var key = this.bindProp;
                this.onUpdate && this.onUpdate(key, v, ov, {value: v, data4DB: v, display: v}); //外部构造的方法调用
            },
            handleSizeChange: function(size) {
                this.pagesize = size;
                this.onUpdate && this.onUpdate(); //外部构造的方法调用
            },
            handleCurrentChange: function(currentPage) {
                this.currentPage = currentPage;
                this.onUpdate && this.onUpdate(currentPage); //外部构造的方法调用
            }
        }
    }
</script>

<style>

    .pagination-outer {
        text-align: right;
        margin-bottom: 20px;
    }
</style>