<template>
    <div style="overflow: auto;width:100%;height:100%">
        <div class="ztree" :id="ztreeId"></div>
    </div>
</template>

<script>
exports = {
    props: {
        display4filter:{
            type:String,
            require:false,
            default:function(){
                return '';
            }
        },
        setting: {
            type: Object,
            require: false,
            default: function(){
                return {}
            }
        },
        nodes: {
            type: Array,
            require: true,
            default: function(){
                return []
            }
        }
    },
    data:function(){
        var me = this;
        return {
            ztreeId: 'ztree_'+ parseInt(Math.random() * 1e10),
            ztreeObj: null,
            list: [],
            requireSource:this.requireSource,
            ztreeSetting: {

                data: {
                    simpleData: {
                        enable: true,
                        pIdKey: "pid"
                    }
                },
                view: {
                    dblClickExpand:false,
                    showIcon: true         // default to hide icon
                },
                callback: {
                    beforeAsync : function(treeId, treeNode){
                        return me.onBeforeAsync&&me.onBeforeAsync(treeId,treeNode);
                    },
                    beforeCheck : function(treeId, treeNode){
                        return me.onBeforeCheck&&me.onBeforeCheck(treeId, treeNode);
                    },
                    beforeClick : function(treeId, treeNode, clickFlag){
                        return me.onBeforeClick&&me.onBeforeClick(treeId, treeNode,clickFlag);
                    },
                    beforeCollapse : function(treeId, treeNode){
                        return me.onBeforeCollapse && me.onBeforeCollapse(treeId, treeNode);
                    },
                    beforeDblClick : function(treeId, treeNode){
                        return me.onBeforeDblClick&&me.onBeforeDblClick(treeId, treeNode);
                    },
                    beforeDrag : function(treeId, treeNodes){
                        return me.onBeforeDrag&&me.onBeforeDrag(treeId,treeNodes);
                    },
                    beforeDragOpen : function(treeId, treeNode){
                        return me.onBeforeDragOpen&&me.onBeforeDragOpen(treeId, treeNode);
                    },
                    beforeDrop : function(treeId, treeNodes, targetNode, moveType){
                        return me.onBeforeDrop&&me.onBeforeDrop(treeId, treeNodes, targetNode, moveType);
                    },
                    beforeEditName : function(treeId, treeNode){
                        return me.onBeforeEditName && me.onBeforeEditName(treeId,treeNode);
                    },
                    beforeExpand : function(treeId, treeNode){
                        return me.onBeforeExpand && me.onBeforeExpand(treeId,treeNode);
                    },
                    beforeMouseDown : function(treeId, treeNode){
                        return me.onBeforeMouseDown && me.onBeforeMouseDown(treeId,treeNode);
                    },
                    beforeMouseUp :  function(treeId, treeNode){
                        return me.onBeforeMouseUp && me.onBeforeMouseUp(treeId,treeNode);
                    },
                    beforeRemove : function(treeId, treeNode){
                        return me.onBeforeRemove && me.onBeforeRemove(treeId,treeNode);
                    },
                    beforeRename : function(treeId, treeNode, newName){
                        return me.onBeforeRename&&me.onBeforeRename(treeId, treeNode, newName);
                    },
                    beforeRightClick : function(treeId, treeNode){
                        return me.onBeforeRightClick&&me.onBeforeRightClick();
                    },

                    onAsyncError : function(event, treeId, treeNode, XMLHttpRequest, textStatus, errorThrown){
                        me.onAsyncError&&me.onAsyncError(event, treeId, treeNode, XMLHttpRequest, textStatus, errorThrown);
                    },
                    onAsyncSuccess : function(event, treeId, treeNode, msg){
                        me.onAsyncSuccess&&me.onAsyncSuccess(event, treeId, treeNode, msg);
                    },
                    onCheck : function(event, treeId, treeNode){
                        me.onCheck&&me.onCheck(event, treeId, treeNode);
                    },
                    onClick : function(event, treeId, treeNode){
                        me.onClick&&me.onClick(event, treeId, treeNode);
                        event.stopPropagation&&event.stopPropagation()
                    },
                    onCollapse : function(event, treeId, treeNode){
                        me.onCollapse&&me.onCollapse(event, treeId, treeNode);
                    },
                    onDblClick : function(event, treeId, treeNode){
                        me.onDblClick&&me.onDblClick(event, treeId, treeNode);
                    },
                    onDrag : function(event, treeId, treeNodes){
                        me.onDrag&&me.onDrag(event, treeId, treeNodes);
                    },
                    onDrop : function(event, treeId, treeNodes, targetNode, moveType){
                        me.onDrop&&me.onDrop(event, treeId, treeNodes, targetNode, moveType);
                    },
                    onExpand : function(event, treeId, treeNode){
                        me.onExpand&&me.onExpand(event, treeId, treeNode);
                    },
                    onMouseDown : function(event, treeId, treeNode){
                        me.onMouseDown&&me.onMouseDown(event, treeId, treeNode);
                    },
                    onMouseUp : function(event, treeId, treeNode){
                        me.onMouseUp(event, treeId, treeNode);
                    },
                    onNodeCreated : function(event, treeId, treeNode){
                        me.onNodeCreated&&me.onNodeCreated(event, treeId, treeNode);
                    },
                    onRemove : function(event, treeId, treeNode){
                        me.onRemove&&me.onRemove(event, treeId, treeNode);
                    },
                    onRename : function(event, treeId, treeNode){
                        me.onRename&&me.onRename(event, treeId, treeNode);
                    },
                    onRightClick : function(event, treeId, treeNode){
                        me.onRightClick&&me.onRightClick(event, treeId, treeNode);
                    }
                }
            }
        }
    },
    watch: {
        display4filter:{
            handler:function(display){
                //根据文本过滤
                this.ztreeKeyFilter();
            }
        },
        nodes: {
            handler: function(nodes){
                var me = this;
                this.list = nodes;
                // update tree
                if(this.ztreeObj){
                    this.ztreeObj.destroy();
                }
                this.requireSource(function(){
                    me.$nextTick(function(){
                        me.ztreeObj = $.fn.zTree.init($("#"+me.ztreeId), Object.assign({}, me.ztreeSetting, me.setting), me.list);
                        me.onCreated&&me.onCreated(me.ztreeObj);
                    });
                });
            }
        },
        deep: true, immediate: true
    },
    created:function(){
    },
    mounted:function(){
        this.requireSource();
    },
    methods:{
        requireSource:function(callback){

            oui.require4notSort([
                oui.getContextPath()+'res_common/third/zTree_v3/css/zTreeStyle/zTreeStyle.css',
                oui.getContextPath()+'res_engine/page_design/pc/page-iconfont/iconfont.css',
                oui.getContextPath()+'res_engine/page_design/pc/css/page-design.css'
            ]);
            oui.require([oui.getContextPath()+'res_common/third/zTree_v3/js/jquery.ztree.all.min.js'
            ],function(){
                oui.require([oui.getContextPath()+'res_common/third/zTree_v3/js/jquery.ztree.exhide.min.js'
                ],function(){
                    callback&&callback();
                });
            });


        },
        checkChildNodesIsContainKeyword:function(pNode){
            var me = this;
            var childs = pNode.children;

            var isexit = true;

            for(var i=0;i<childs.length;i++)
            {

                if (childs[i].isParent)
                {
                    isexit = me.checkChildNodesIsContainKeyword(childs[i]);
                    if (!isexit)
                        return isexit;
                }
                else {
                    var _keywords = me.display4filter;
                    if (childs[i].display.indexOf(_keywords) != -1)
                        return false;
                }
            }

            return true;
        },

        ztreeKeyFilter:function(){
            var me = this;
            if(!this.ztreeObj){
                return ;
            }

            var hiddenNodes = this.hiddenNodes ||[];
            me.ztreeObj.showNodes(hiddenNodes);

            var hiddens4temp = [];
            var map4show = {};
            oui.findManyFromArrayBy(me.ztreeObj.getNodesByFilter(function(node){
                return true
            })||[],function(item){
                if(me.display4filter&&(item.display.indexOf(me.display4filter)<0)){
                    hiddens4temp.push(item);
                }else{
                    map4show[item.id] = true;
                }
            });
            hiddenNodes = [].concat(hiddens4temp);
            var newShows=[];
            do{
                //遍历所有隐藏的节点，判断是否作为显示节点的上级节点
                oui.eachArray(hiddens4temp,function(item){
                    oui.eachArray(item.children ||[],function(child){
                        if(map4show[child.id]){
                            map4show[item.id] = true;
                            newShows.push(item.id);
                        }
                    })
                });
                if(newShows.length){
                    oui.removeFromArrayBy(hiddenNodes,function(item){
                        if(newShows.indexOf(item.id)>-1){
                            return true;
                        }
                    });
                    hiddens4temp = hiddenNodes.concat([]);
                    newShows = [];
                } else{
                    break;
                }
            }while(true);

            me.hiddenNodes = hiddenNodes;
            me.ztreeObj.hideNodes(hiddenNodes);
        }
    }
}

</script>

<style scoped>
    /* beauty ztree! */
    .ztree {
        text-align:left;
        font-size: 14px;
    }
    .ztree >>> li {
        list-style-type: none;
        white-space: nowrap;
        outline: none;
    }
    .ztree >>> li ul {
        position: relative;
        padding: 0 0 0 20px;
        margin: 0;
    }
    .ztree >>> .line:before {
        position: absolute;
        top: 0;
        left: 10px;
        height: 100%;
        content: '';
        border-right: 1px dotted #dbdbdb;
    }
    .ztree >>> .roots_docu:before,
    .ztree >>> .roots_docu:after,
    .ztree >>> .center_docu:before,
    .ztree >>> .bottom_docu:before,
    .ztree >>> .center_docu:after,
    .ztree >>> .bottom_docu:after {
        position: absolute;
        content: '';
        border: 0 dotted #dbdbdb;
    }
    .ztree >>> .roots_docu:before {
        left: 10px;
        height: 50%;
        top:50%;
        border-left-width: 1px;
    }
    .ztree >>> .roots_docu:after {
        top: 50%;
        left: 11px;
        width: 50%;
        border-top-width: 1px;
    }
    .ztree >>> .center_docu:before {
        left: 10px;
        height: 100%;
        border-left-width: 1px;
    }
    .ztree >>> .center_docu:after {
        top: 50%;
        left: 11px;
        width: 50%;
        border-top-width: 1px;
    }
    .ztree >>> .bottom_docu:before {
        left: 10px;
        height: 50%;
        border-left-width: 1px;
    }
    .ztree >>> .bottom_docu:after {
        top: 50%;
        left: 11px;
        width: 50%;
        border-top-width: 1px;
    }
    .ztree >>> li a {
        display: inline-block;
        line-height: 22px;
        height: 22px;
        margin: 0;
        cursor: pointer;
        transition: none;
        vertical-align: middle;
        color: #555555;
    }
    .ztree >>> .node_name{
        display: inline-block;
        padding: 0 3px;
        border-radius: 4px;
    }
    .ztree >>> .curSelectedNode .node_name{
        color: #000;
        background-color: #c9e9f7;
    }
    .ztree >>> .curSelectedNode_Edit {
        height: 20px;
        opacity: 0.8;
        color: #000;
        border: 1px #6cc2e8 solid;
        background-color: #9dd6f0;
    }
    .ztree >>> .tmpTargetNode_inner {
        opacity: 0.8;
        color: #fff;
        background-color: #4fcbf0;
        filter: alpha(opacity=80);
    }
    .ztree >>> .rename {
        font-size: 12px;
        line-height: 22px;
        width: 80px;
        height: 22px;
        margin: 0;
        padding: 0;
        vertical-align: top;
        border: 0;
        background: none;
    }
    .ztree >>> .button {
        position: relative;
        display: inline-block;
        line-height: 22px;
        height: 22px;
        width: 22px;
        cursor: pointer;
        text-align: center;
        vertical-align: middle;
    }

    .ztree >>> .button.edit {
        color: #25ae88;
    }
    .ztree >>> .button.remove {
        color: #CB4042;
    }
    .ztree >>> .button.chk {
        position: relative;
        width: 14px;
        height: 14px;
        margin: 0 4px 0 0;
        border: 1px solid #d7dde4;
        border-radius: 2px;
        background: #fff;
    }
    .ztree >>> .chk.radio_true_full,
    .ztree >>> .chk.radio_false_full,
    .ztree >>> .chk.radio_true_full_focus,
    .ztree >>> .chk.radio_false_full_focus,
    .ztree >>> .chk.radio_false_disable,
    .ztree >>> .chk.radio_true_disable,
    .ztree >>> .chk.radio_true_part,
    .ztree >>> .chk.radio_false_part,
    .ztree >>> .chk.radio_true_part_focus,
    .ztree >>> .chk.radio_false_part_focus {
        border-radius: 8px;
    }
    .ztree >>> .button.chk:after {
        position: absolute;
        top: 1px;
        left: 4px;
        width: 4px;
        height: 8px;
        content: '';
        transition: -webkit-transform 0.2s ease-in-out;
        transition: transform 0.2s ease-in-out;
        transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
        -webkit-transform: rotate(0deg) scale(0);
        transform: rotate(0deg) scale(0);
        border-right: 2px solid #fff;
        border-bottom: 2px solid #fff;
    }
    .ztree >>> .button.checkbox_false_full_focus {
        border-color: #ccc;
    }
    .ztree >>> .button.checkbox_true_full,
    .ztree >>> .button.checkbox_true_full_focus,
    .ztree >>> .button.checkbox_true_part,
    .ztree >>> .button.checkbox_true_part_focus,
    .ztree >>> .button.checkbox_true_disable {
        border-color: #39f;
        background-color: #39f;
    }
    .ztree >>> .button.checkbox_true_full:after,
    .ztree >>> .button.checkbox_true_full_focus:after,
    .ztree >>> .button.checkbox_true_disable:after {
        -webkit-transform: rotate(45deg) scale(1);
        transform: rotate(45deg) scale(1);
    }
    .ztree >>> .button.checkbox_true_part:after,
    .ztree >>> .button.checkbox_true_part_focus:after {
        top: 5px;
        left: 2px;
        width: 10px;
        height: 1px;
        -webkit-transform: rotate(0deg) scale(1);
        transform: rotate(0deg) scale(1);
        border-right: 0;
    }
    .ztree >>> .button.radio_true_full,
    .ztree >>> .chk.radio_true_full_focus,
    .ztree >>> .chk.radio_true_part,
    .ztree >>> .chk.radio_true_part_focus {
        border-color: #39f;
    }
    .ztree >>> .button.radio_true_full:after,
    .ztree >>> .chk.radio_true_full_focus:after,
    .ztree >>> .chk.radio_true_part:after,
    .ztree >>> .chk.radio_true_part_focus:after {
        top: 3px;
        left: 3px;
        width: 8px;
        -webkit-transform: rotate(0deg) scale(1);
        transform: rotate(0deg) scale(1);
        border: 0;
        border-radius: 4px;
        background: #39f;
    }
    .ztree >>> .button.checkbox_true_disable,
    .ztree >>> .button.checkbox_false_disable,
    .ztree >>> .chk.radio_false_disable,
    .ztree >>> .chk.radio_true_disable {
        cursor: not-allowed;
    }
    .ztree >>> .button.checkbox_false_disable {
        background-color: #f3f3f3;
    }
    .ztree >>> .button.noline_close:before,
    .ztree >>> .button.noline_open:before,
    .ztree >>> .button.root_open:before,
    .ztree >>> .button.root_close:before,
    .ztree >>> .button.roots_open:before,
    .ztree >>> .button.roots_close:before,
    .ztree >>> .button.bottom_open:before,
    .ztree >>> .button.bottom_close:before,
    .ztree >>> .button.center_open:before,
    .ztree >>> .button.center_close:before {
        position: absolute;
        top: 5px;
        left: 5px;
        content: '';
        transition: -webkit-transform ease 0.3s;
        transition: transform ease 0.3s;
        transition: transform ease 0.3s, -webkit-transform ease 0.3s;
        -webkit-transform: rotateZ(0deg);
        transform: rotateZ(0deg);
        -webkit-transform-origin: 25% 50%;
        transform-origin: 25% 50%;
        border: 6px solid;
        border-color: transparent transparent transparent #666;
    }
    .ztree >>> .button.noline_open:before,
    .ztree >>> .button.root_open:before,
    .ztree >>> .button.roots_open:before,
    .ztree >>> .button.bottom_open:before,
    .ztree >>> .button.center_open:before {
        -webkit-transform: rotateZ(90deg);
        transform: rotateZ(90deg);
    }
    .ztree >>> .button.ico_loading {
        margin-right: 2px;
        background: url('data:image/gif;base64,R0lGODlhEAAQAKIGAMLY8YSx5HOm4Mjc88/g9Ofw+v///wAAACH/C05FVFNDQVBFMi4wAwEAAAAh+QQFCgAGACwAAAAAEAAQAAADMGi6RbUwGjKIXCAA016PgRBElAVlG/RdLOO0X9nK61W39qvqiwz5Ls/rRqrggsdkAgAh+QQFCgAGACwCAAAABwAFAAADD2hqELAmiFBIYY4MAutdCQAh+QQFCgAGACwGAAAABwAFAAADD1hU1kaDOKMYCGAGEeYFCQAh+QQFCgAGACwKAAIABQAHAAADEFhUZjSkKdZqBQG0IELDQAIAIfkEBQoABgAsCgAGAAUABwAAAxBoVlRKgyjmlAIBqCDCzUoCACH5BAUKAAYALAYACgAHAAUAAAMPaGpFtYYMAgJgLogA610JACH5BAUKAAYALAIACgAHAAUAAAMPCAHWFiI4o1ghZZJB5i0JACH5BAUKAAYALAAABgAFAAcAAAMQCAFmIaEp1motpDQySMNFAgA7') 0 center no-repeat;
    }
    .ztree >>> .tmpTargetzTree {
        opacity: 0.8;
        background-color: #2EA9DF;
        filter: alpha(opacity=80);
    }
    .ztree >>> .tmpzTreeMove_arrow {
        position: absolute;
        width: 18px;
        height: 18px;
        color: #4fcbf0;
    }
    .ztree >>> .ztree.zTreeDragUL {
        overflow: hidden;
        position: absolute;
        width: auto;
        height: auto;
        margin: 0;
        padding: 0;
        opacity: 0.8;
        border: 1px #176b53 dotted;
        background-color: #dbdbdb;
        filter: alpha(opacity=80);
    }
    .zTreeMask {
        position: absolute;
        z-index: 10000;
        opacity: 0.0;
        background-color: #cfcfcf;
        filter: alpha(opacity=0);
    }
    .dialog-data-left .ztree ul li {
        padding: 0;
        margin: 0;
        list-style: none;
        line-height: 14px;
        height: auto;
        text-align: left;
        white-space: nowrap;
        outline: 0;
    }
</style>
