@charset "UTF-8";
* {
	padding: 0;
	margin: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-family: "Ping Fang SC", Arial, "Microsoft YaHei", Helvetica, sans-serif, "SimSun";
}
.export-head{
	padding: 20px 0;
	margin: 0 20px;
	border-bottom: 1px solid rgba(216, 225, 230, .5);
}
.export-head:after{
	content: "";
	display: table;
	visibility: hidden;
	clear: both;
}
.export-head-title{
	min-height: 24px;
	font-size: 14px;
	padding: 6px 15px 6px 0;
	text-align: left;
	float: left;
}
.export-head-info{
	display: block;
	overflow: hidden;
}
.export-head-info .ours-class-textfield{
	width: 300px;
}
.export-prompt-text{
	background-color: #FFFAEB;
	border: 1px solid #FFE9A7;
	padding: 10px;
	margin: 15px 20px 0 20px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	text-align: left;
}
.export-prompt-text span{
	display: block;
	font-size: 12px;
	color: #333333;
}
.export-list{
	margin-top: 15px;
	padding: 0 20px;
}
.export-list ul{
	list-style: none;
	padding: 0;
	text-align: left;
	margin: 0 -8px;
	font-size: 0;
	max-height: 168px;
	overflow: hidden;
	overflow-y: auto;
}
.export-list ul li{
	width: 50%;
	display: inline-block;
	vertical-align: top;
	margin-bottom: 16px;
	padding: 0 8px;
	text-align: left;
}
.export-list ul li:first-of-type:last-of-type{
	width: 100%;
}
.export-list ul li .export-list-item{
	display: block;
	padding: 0 10px;
	height: 40px;
	line-height: 40px;
	font-size: 12px;
	color: #3E4967;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	border: 1px solid #D8E1E6;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.export-list ul li .export-list-item:hover{
	background-color: #ecf6fe;
	border-color: #3796EC;
	color: #3796EC;
	cursor: pointer;
}
.export-list ul li.selected .export-list-item{
	background-color: #FAFAFA;
	color: rgba(62,73,103,.5);
	border-color: rgba(216,225,230,.5);
}