<template>
    <div id="customer">
        <!-- 面包屑头部盒子开始 -->
        <div class="crumbs">
            <el-breadcrumb separator="/">
                <el-breadcrumb-item> <a href="index4vue.html#res_apps/car/html/compnents/home.vue.html">首页</a>
                </el-breadcrumb-item>
                <el-breadcrumb-item>添加新的物资</el-breadcrumb-item>
            </el-breadcrumb>
        </div>
        <!-- 仓库中心，物资出入库记录 -->
        <!-- 面包屑头部盒子结束 -->
        <el-main>
            <!-- 右侧内部表单布局容器开始-- -->
            <!-- 第一行数据 -->
            <div class="content">
                <!-- 第一层 -->
                <div class="billing_time">
                    <ul>
                        <li>
                            <div>创建时间：</div><span>{{materialsFormValue.createTime}}</span>
                        </li>
                        <li>
                            <div>入库人员：</div><span>{{materialsFormValue.creatorName}}</span>
                        </li>
                        <!-- <li></li> -->
                    </ul>
                </div>
                <!-- 第二层 -->

                <div class="list_form">

                    <el-form :inline="true" label-position="top" label-width="80px" :model="materialsFormValue" :rules="rules" ref="materialsFormValue">
                        <!-- 第二层 -->
                        <div class="customer_name">
                            <ul>
                                <li>
                                    <el-form-item label="物料类别" prop="materialType">
                                        <el-select v-model="materialsFormValue.materialType" placeholder="请选择"
                                                   style="width: 300px;">
                                            <el-option v-for="item in materialType" :key="item.value" :label="item.label" :value="item.value">
                                            </el-option>
                                        </el-select>
                                    </el-form-item>

                                </li>
                                <li>
                                    <el-form-item label="物料名称" style="width: 300px;" prop="materialName">
                                        <el-input v-model="materialsFormValue.materialName" placeholder="请输入物料名称"></el-input>
                                    </el-form-item>
                                </li>
                                <li>
                                    <el-form-item label="物料编号" style="width: 300px;" prop="materialCode">
                                        <el-input v-model="materialsFormValue.materialCode" placeholder="请输入物料编号，例如：RHY-45892"></el-input>
                                    </el-form-item>
                                </li>
                            </ul>
                        </div>
                        <!-- 第三层 -->
                        <div class="vehicle_fuel_volume">
                            <ul>
                                <li>
                                    <el-form-item label="物料品牌" style="width: 300px;" prop="materialBrand">
                                        <el-input v-model="materialsFormValue.materialBrand" placeholder="请输入物料品牌"></el-input>
                                    </el-form-item>
                                </li>
                                <li>
                                    <el-form-item label="物料型号" style="width: 300px;" prop="materialModel">
                                        <el-input v-model="materialsFormValue.materialModel" placeholder="请输入物料型号，例如：5W-30"></el-input>
                                    </el-form-item>
                                </li>
                                <li>
                                    <el-form-item label="单品规格" style="width: 300px;" prop="materialSpec">
                                        <el-input v-model="materialsFormValue.materialSpec" placeholder="请输入物料规格，例如：1L/桶"></el-input>
                                    </el-form-item>
                                </li>
                            </ul>
                        </div>
                        <!-- 第四层 -->
                        <div class="source_of_customers">
                            <ul>
                                <li>
                                    <el-form-item label="厂商" style="width: 300px;" prop="materialVendorName">
                                        <el-input v-model="materialsFormValue.materialVendorName" placeholder="请输入物料厂商"></el-input>
                                    </el-form-item>
                                </li>
                                <li>
                                    <el-form-item label="销售单价" style="width: 300px;" prop="materialPrice">
                                        <el-input v-model="materialsFormValue.materialPrice" placeholder="请输入销售价格" @change="priceChange"></el-input>
                                    </el-form-item>
                                </li>
                                <li>
                                    <el-form-item label="成本单价" style="width: 300px;" prop="materialCost">
                                        <el-input v-model="materialsFormValue.materialCost" placeholder="请输入物料购入价格" @change="costChange"></el-input>
                                    </el-form-item>
                                </li>
                            </ul>
                        </div>
                        <!-- 第五层 -->
                        <div class="Price">
                            <ul>
                                <li>
                                    <el-form-item label="利润" style="width: 300px;" prop="profit">
                                        <el-input v-model="materialsFormValue.profit" placeholder="请输入物料利润"></el-input>
                                    </el-form-item>
                                </li>
                                <li>
                                    <el-form-item label="计量单位" style="width: 300px;" prop="materialUnitCode">
                                        <el-input v-model="materialsFormValue.materialUnitCode" placeholder="请输入计量单位，例如：桶"></el-input>
                                    </el-form-item>
                                </li>
                                <!-- 状态 -->
                                <li class="state">
                                    <span prop="state">状态：</span>
                                    <el-switch class="switch_box" active-text="启用" inactive-text="禁用" v-model="materialsFormValue.state" active-color="#1890FF" inactive-color="#eee" :active-value=1 :inactive-value=2></el-switch>
                                </li>
                            </ul>
                        </div>
                        <!-- 返回和提交 -->
                        <div class="return_and_save">
                            <el-form-item>
                                <el-button @click="backToListPage">返回</el-button>
                                <el-button type="primary" @click="addMaterialInfo">提交</el-button>
                            </el-form-item>
                        </div>
                    </el-form>
                </div>
            </div>
            <!-- 右侧内部表单布局容器结束 -->
        </el-main>
        <!-- </el-main> -->

    </div>
</template>
<script>
    export default {
        templateType: 'vue',
        el: 'home',
        data: function () {
            var checkData = (rule, value, callback) => {
                if (value) {
                    if (/[\u4E00-\u9FA5]/g.test(value)) {
                        callback(new Error('不能为中文!'))
                    } else {
                        callback()
                    }
                }
                callback(new Error('请输入对应信息!') )
            };
            return {
                materialsFormValue:{
                    id:"",
                    materialType: "",
                    materialName: "",
                    materialCode: "",
                    materialBrand: "",
                    materialUnitCode: "",
                    materialSpec: "",
                    materialVendorName: "",
                    materialPrice: 0,
                    materialCost: 0,
                    materialModel: "",
                    profit: 0,
                    state:1,
                    createTime: "",
                    creatorId: "",
                    creatorName: "",
                },
                // 每个对象的验证规则
                rules: {
                    materialType: [
                        {required: true, message: '请选物资类别', trigger: 'blur'},
                    ],
                    materialName: [
                        {required: true, message: '请输入物资名称', trigger: 'blur'},
                        {min: 1, max: 30, message: '长度在 1 到 30 个字符', trigger: 'blur'}
                    ],
                    materialCode: [
                        {required: true, validator: checkData, trigger: 'blur'},
                        {min: 1, max: 30, message: '长度在 1 到 30 个字符', trigger: 'blur'}
                    ],
                    materialBrand: [
                        {required: true, message: '请输入物资品牌', trigger: 'blur'},
                        {min: 1, max: 30, message: '长度在 1 到 30 个字符', trigger: 'blur'}
                    ],
                    materialModel: [
                        {required: true, validator: checkData, trigger: 'blur'},
                        {min: 1, max: 30, message: '长度在 1 到 30 个字符', trigger: 'blur'}
                    ],
                    materialSpec: [
                        {required: true, message: '请输入单品规格', trigger: 'blur'},
                        {min: 1, max: 30, message: '长度在 1 到 30 个字符', trigger: 'blur'}
                    ],
                    materialVendorName: [
                        {required: true, message: '请输入厂商名称', trigger: 'blur'},
                        {min: 1, max: 30, message: '长度在 1 到 30 个字符', trigger: 'blur'}
                    ],
                    materialPrice: [
                        {required: true, message: '请输入物资销售价格', trigger: 'blur'},
                        { pattern: /(^[1-9]([0-9]+)?(\.[0-9]{1,2})?$)|(^(0){1}$)|(^[0-9]\.[0-9]([0-9])?$)/, message: '请输入正确的格式,可保留两位小数' }
                    ],
                    materialCost: [
                        {required: true, message: '请输入物资成本价', trigger: 'blur'},
                        { pattern: /(^[1-9]([0-9]+)?(\.[0-9]{1,2})?$)|(^(0){1}$)|(^[0-9]\.[0-9]([0-9])?$)/, message: '请输入正确的格式,可保留两位小数' }
                    ],
                    profit: [
                        {required: true, message: '请输入物资编号', trigger: 'blur'},
                        { pattern: /(^[1-9]([0-9]+)?(\.[0-9]{1,2})?$)|(^(0){1}$)|(^[0-9]\.[0-9]([0-9])?$)/, message: '请输入正确的格式,可保留两位小数' }
                    ],
                    materialUnitCode: [
                        {required: true, message: '请输入物资计量单位', trigger: 'blur'},
                        {min: 1, max: 30, message: '长度在 1 到 30 个字符', trigger: 'blur'}
                    ]
                },
                materialType:[{
                    value: 1,
                    label: '维修材料'
                }, {
                    value: 2,
                    label: '保养材料'
                },{
                    value: 3,
                    label: '其他材料'
                },{
                    value: 4,
                    label: '低值易耗品'
                }],
            }
        },
        computed:{
            profit:function() {
                return this.materialPrice - this.materialCost
            }
        },
        created() {
        },
        mounted: function () {
            if(this.isLoading){
                return ;
            }
            this.isLoading = true;
            this.materialsFormValue.createTime = oui.dateStrByTime(new Date().getTime(), 'yyyy-MM-dd HH:mm:ss');
            let loginUser = window.localStorage.getItem("loginUser");
            let creator = oui.parseJson(loginUser);
            this.materialsFormValue.creatorId = creator.id;
            this.materialsFormValue.creatorName = creator.empName;
            let me = this;
            let param = this.$router.query;
            me.materialsFormValue.id = param.materialId;
            if(!param.materialType){
                param.materialType = "";
            }else {
                me.materialsFormValue.materialType = parseInt(param.materialType + '');
            }
            me.materialsFormValue.materialName = param.materialName;
            me.materialsFormValue.materialCode = param.materialCode;
            me.materialsFormValue.materialBrand = param.materialBrand;
            me.materialsFormValue.materialUnitCode = param.materialUnitCode;
            me.materialsFormValue.materialSpec = param.materialSpec;
            me.materialsFormValue.materialVendorName = param.vendorName;
            me.materialsFormValue.materialPrice = param.materialPrice;
            me.materialsFormValue.materialCost = param.materialCost;
            me.materialsFormValue.materialModel = param.materialModel;
            me.materialsFormValue.profit = param.profit;
            if(!param.state){
                param.state = 1;
            }
            me.materialsFormValue.state = parseInt(param.state + '');
        },
        methods:{
            addMaterialInfo:function() {
                this.$refs["materialsFormValue"].validate((valid) => {
                    if (valid) {
                        if (this.materialsFormValue.id == null) {
                            var me = this;
                            oui.ajaxPost('material/warehouseCenter/saveOneStockMaterialInWarehouseCenter', {
                                "materialType": this.materialsFormValue.materialType,
                                "materialName": this.materialsFormValue.materialName,
                                "materialCode": this.materialsFormValue.materialCode,
                                "status": this.materialsFormValue.state,
                                "materialBrand": this.materialsFormValue.materialBrand,
                                "materialModel": this.materialsFormValue.materialModel,
                                "materialSpec": this.materialsFormValue.materialSpec,
                                "vendorName": this.materialsFormValue.materialVendorName,
                                "materialPrice": this.materialsFormValue.materialPrice,
                                "materialCost": this.materialsFormValue.materialCost,
                                "materialUnitCode": this.materialsFormValue.materialUnitCode,
                                "createTime": this.materialsFormValue.createTime,
                                "creatorId": this.materialsFormValue.creatorId,
                                "creatorName": this.materialsFormValue.creatorName
                            }, function (res) {
                                me.$message({
                                    message: '材料信息新增成功！',
                                    type: 'success'
                                });
                                oui.router.push("/res_apps/car/html/MaterialManagement/addmaterials.vue.html");
                            }, function (res) {
                                me.$message.error(res.message)
                            });
                        } else {
                            var me = this;
                            oui.ajaxPost('material/warehouseCenter/updateOneStockMaterialInWarehouseCenter', {
                                "materialType": this.materialsFormValue.materialType,
                                "materialId": this.materialsFormValue.id,
                                "materialName": this.materialsFormValue.materialName,
                                "materialCode": this.materialsFormValue.materialCode,
                                "status": this.materialsFormValue.state,
                                "materialBrand": this.materialsFormValue.materialBrand,
                                "materialModel": this.materialsFormValue.materialModel,
                                "materialSpec": this.materialsFormValue.materialSpec,
                                "vendorName": this.materialsFormValue.materialVendorName,
                                "materialPrice": this.materialsFormValue.materialPrice,
                                "materialCost": this.materialsFormValue.materialCost,
                                "materialUnitCode": this.materialsFormValue.materialUnitCode
                            }, function (res) {
                                me.$message({
                                    message: '材料信息修改成功！',
                                    type: 'success'
                                });
                                oui.router.push("/res_apps/car/html/MaterialManagement/materiel.vue.html");
                            }, function (res) {
                                me.$message.error(res.message)
                            });
                        }
                    } else {
                        this.$message.error('内容未填写完整，请检查修改后重新提交');
                        return false;
                    }
                });
            },
            backToListPage:function() {
                oui.router.push("/res_apps/car/html/MaterialManagement/materiel.vue.html")
            },
            priceChange:function() {
                this.materialsFormValue.profit =  this.materialsFormValue.materialPrice -  this.materialsFormValue.materialCost
            },
            costChange:function() {
                this.materialsFormValue.profit =  this.materialsFormValue.materialPrice -  this.materialsFormValue.materialCost
            },
        }
    }
</script>
<style>
    .customer {
        width: 1040px;
        height: 700px;
    }

    html {
        margin: 0 0px;
        /* width: 1040px; */
        /* height: 700px; */
        /* background-color: rgb(243, 228, 21); */
    }

    * {
        padding: 0;
        margin: 0;
        font-size: 14px;
        list-style-type: none;
    }

    /* 设置侧边栏及右侧头部盒子的阴影部分 */

    .el-main {
        width: 100%;
        height: 100%;
        background-color: #f5f5f5;
        color: #333;

    }


    /* 自己的样式 */


            .switch_box .el-switch__label {
        position: absolute;
        display: none;
        color: #fff;
    }

    /*打开时文字位置设置*/

    .switch_box .el-switch__label--right {
        z-index: 1;
        right: -5px;
    }

    /*关闭时文字位置设置*/

    .switch_box .el-switch__label--left {
        z-index: 1;
        left: 20px;
    }

    /*显示文字*/

    .switch_box .el-switch__label.is-active {
        display: block;
    }

    .switch_box.el-switch .el-switch__core,
    .el-switch .el-switch__label {
        width: 55px !important;
        /*开关按钮的宽度大小*/
    }

    /* 文字盒子span */
    .el-icon-menu>span {
        margin-left: 1px;
    }


    .el-menu {
        border: 0;
        margin: 0 0;
        padding: 0 0;
    }



    /* 面包屑区域开始 -------*/
    .crumbs {
        width: 100%;
        height: 40px;
        line-height: 40px;
        margin-top: 2px;
        background-color: #fff;
    }

    .el-breadcrumb {
        line-height: 40px;
        padding-left: 20px;

    }

    /* 面包屑区域结束------ */
    /* 内容主体区域 */
    /* 内容区域的头部为空白 */
    /* 设置右侧头部盒子的边框阴影 */
    .blank_head {
        background-color: #fff;
        height: 60px !important;
        box-shadow: #fff 0px 0px 0px 0px;
        line-height: 60px;

    }

    .blank_head>div>span {
        font-weight: 700;
        font-size: 14px;
    }

    .el-checkbox-group {
        display: inline;

    }

    /* 内容侧边栏每一项结束---- */
    /* 内部盒子的内容主体区域 */
    .inside_box {
        background-color: #fff;
        /* line-height: 160px; */
        text-align: left !important;
    }

    /* 关键字的样式设置开始 */
    /* 关键字区域 */
    .keyword {
        /* width: 1000px; */
        height: 60px;
        font-weight: 700;
        line-height: 60px;
        display: flex;
        justify-content: left;
    }

    .keyword_content {
        display: inline;
        height: 30px;
        font-size: 14px;

    }



    /* 正文区域 */
    .content {
        background-color: #fff;
        padding: 20px;
    }

    /* 第一行内容 */
    .billing_time>ul {
        display: flex;
        justify-content: left;
        line-height: 30px;
    }

    .billing_time>ul>li>div {
        display: inline-block;
    }

    .billing_time>ul>li>span {
        font-size: 14px;
        color: rgb(0, 0, 0, 0.5);

    }

    /* 第二行 */
    .billing_time>ul>li {
        width: 300px;
        height: 30px;
        font-size: 14px;
    }

    .customer_name>ul {
        display: flex;
        justify-content: space-between;

    }

    .customer_name>ul>li {
        width: 300px;
        /* height: 30px; */
    }

    /* 第三行 */
    .vehicle_fuel_volume>ul {
        display: flex;
        justify-content: space-between;
    }

    .vehicle_fuel_volume>ul>li {
        width: 300px;
        /* height: 30px; */
    }

    /* 第四行 */
    .source_of_customers>ul {
        display: flex;
        justify-content: space-between;
    }

    .source_of_customers>ul>li {
        width: 300px;
        /* height: 30px; */
    }

    /* 第五行 */
    .Price>ul {
        display: flex;
        justify-content: space-between;
    }

    .Price>ul>li {
        width: 300px;
        /* height: 30px; */
    }

    /* 状态 */
    .state {
        text-align: left;
        line-height: 112px;
    }

    /* 修改全局文本框的样式 */
    .el-textarea {
        width: 765px;

    }

    /* 修改全局文本框内部的input的样式 */
    .el-textarea__inner {
        width: 100%;
        height: 35px;
    }



    /* 返回和保存 */
    .return_and_save {
        display: flex;
        justify-content: center;
        height: 40px;
        line-height: 40px;
    }

    .el-button {
        width: 180px;
    }




    /* 物资出入库记录 */

    .material_delivery {
        margin: 24px 0;
        padding-top: 24px;
        background-color: #fff;
    }

    .material_delivery_content {
        font-weight: 700;
        margin-left: 24px;
    }


    /* 栅格栏布局自带样式 */
    .el-row {
        margin-bottom: 20px;

    }

    .el-row:last-child {
        margin-bottom: 0;
    }

    .el-col {
        border-radius: 4px;
    }

    .bg-purple-dark {
        background: #99a9bf;
    }

    .bg-purple {
        background: #d3dce6;
    }

    .bg-purple-light {
        background: #e5e9f2;
    }

    .grid-content {
        border-radius: 4px;
        min-height: 36px;
    }

    .row-bg {
        padding: 10px 0;
        background-color: #f9fafc;
    }

    /* 我的工单区域开始 */

    /* 表格处 */

    /* 修改表格头部背景色 */

    .el-table th {
        background-color: #fafafa;
    }

    /* 分页区域结束----- */
</style>