@charset "UTF-8";
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body{
    font-size: 14px;;
}
.display_none{
    display: none;
}
.app-layout-center {
    background: url("images/gridBg.jpg") repeat;
    border-bottom: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
    position: absolute;
    top: 60px;
    left: 260px;
    right: 10px;
    bottom: 0;
    overflow: auto;
}

.oui-shape{
    background: #5990cf;
    position: absolute;
    display: table;
    padding: 0 10px;
}
.oui-shape-line{
    background: #5990cf;
    position: absolute;
    display: table;
    -moz-transform-origin: left center 0px;
    -ms-transform-origin: left center 0px;
    -o-transform-origin: left center 0px;
    transform-origin: left center 0px;
    /*opacity: .8;*/
    /*padding: 0 10px;*/
}
.oui-shape-text{
    text-align: center;
    color: #ffffff;
    display: table-cell;
    vertical-align: middle;
    /*white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;*/
    word-break: break-all;
}
.oui-shape-text div.text{
    max-height: 100%;
    display: inline-block;
    vertical-align: top;
    line-height: 1.3;
    overflow: hidden;
}
/**关系 线样式 **/
.app-form-line {
    background: transparent;
    /*width: 200px;*/
    /*border:2px dashed red;*/
    /*height: 4px;*/
    border-bottom: 3px dashed #5990cf;
    /*position: fixed;*/
    position: absolute;
    text-align: left;
    display: inline-block;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -ms-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}
.app-form-line .right-triangle{
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-left: 14px solid #800820;
    border-bottom: 7px solid transparent;
    position: absolute;
    right: -14px;
    top: 50%;
    margin-top: -6px;/*左边高度减去线的高度除以2*/
}
/** 有关系的线条***/
.app-form-relation-line {
    border-bottom-style: solid;
}
.oui-line-text {
    white-space: nowrap;/***不管怎么样都横向展示 **/
    position: absolute;
    top: 50%;
    left: 50%;
    transform-origin: left 50%;
    z-index: 5;
}
.oui-line-text .text{
    z-index: 1;
    padding: 2px 4px;
    line-height: 14px;
    color: #ffffff;
    white-space: nowrap;
    vertical-align: baseline;
    background-color: #84c9ab;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-transform: translate3d(-50%,-50%,0);
    -moz-transform: translate3d(-50%,-50%,0);
    transform: translate3d(-50%,-50%,0);
}
/*关联-触发文本高亮色*/
.line-hover-high.pull .text,
.line-hover-high.push .text{
    color: #fff;
    opacity: 1;
    filter: alpha(opacity=100);
    z-index: 11;
}
.oui-line-text .text{
    z-index: 10;
}
.line-hover-high.oui-line-text{
    z-index: 100 !important;
}
.line-hover-high.pull.oui-line-text .text{
    background: #fb8c00;
    z-index: 100 !important;
}
.line-hover-high.push.oui-line-text .text{
    background: #5990cf;
    z-index: 100 !important;
}
.line-hover-high.pull.oui-shape-line,.line-hover-high.push.oui-shape-line {
    border-bottom-width: 2px !important;
    z-index: 98 !important;
}
/*关联-触发文本高亮色*/
/*.oui-shape-line:after {*/
    /*content: '';*/
    /*width:200%;*/
    /*position: absolute;*/
    /*top: -50%;*/
    /*bottom: -50%;*/
    /*left: -50%;*/
    /*right: -50%;*/
    /*-webkit-transform: scale(0.5);*/
    /*transform: scale(0.5);*/
    /*border-bottom: 1px solid #5990cf;*/
/*}*/








