<!-- 文本 -->
<template >
    <div class="oui-class-text curr">
        <el-input-number   controls-position="right"   :min="1" :max="10"></el-input-number>
    </div>
</template>

<script>
    exports = {
        templateType:'vue',
        data: function () {
            return {
                rowSpacing: "",
                textPadding: "",
                rollingSpeed: "",
                textEffect: "",
                textContent:""
            }
        },
        mounted: function () {
          
        },
        methods:{

        }
    }
</script>

<style>
 
</style>