<!-- 文本 -->
<template >
    <el-dropdown>
        <span class="el-dropdown-link">
          下拉菜单<i class="el-icon-arrow-down el-icon--right"></i>
        </span>
        <el-dropdown-menu slot="dropdown"> 
        </el-dropdown-menu>
      </el-dropdown>
</template>

<script>
    exports = {
        templateType:'vue',
        data: function () {
            return {
                rowSpacing: "",
                textPadding: "",
                rollingSpeed: "",
                textEffect: "",
                textContent:""
            }
        },
        mounted: function () {
          
        },
        methods:{

        }
    }
</script>

<style>
 
</style>