 

<!--单选组-->
<template >
    <div class="position_fixed_bottom background_color height_100 color_fff display_row_center ">
        <el-select v-model="value" placeholder="请选择">
           <el-option
               v-for="item in options"
               :key="item.value"
               :label="item.label"
               :value="item.value">
           </el-option>
           </el-select>
           <div class="margin_left">
            <i class="el-icon-circle-plus-outline"   ></i>
           </div>
        
       <ul class="slide-box">
           <li class="slide-item">股东数据报告</li>
           <li class="slide-item">个性化数据报表</li>
           <li class="slide-item">现状数据报告</li>
           <li class="slide-item">部门数据报表</li> 
            
       </ul>
    
    </div>
</template>

<script>
    exports = {
        templateType:'vue',
        data: function () {
            return {
                options: [{
          value: '选项1',
          label: '黄金糕'
        }, {
          value: '选项2',
          label: '双皮奶'
        }, {
          value: '选项3',
          label: '蚵仔煎'
        }, {
          value: '选项4',
          label: '龙须面'
        }, {
          value: '选项5',
          label: '北京烤鸭'
        }],
        value: ''
            }
        },
        mounted() { 
        },
        methods:{
          
        }
    }
</script>

<style>

</style>