<!--多选组 TODO -->
<template >
    <div>
        <div>
            <div id="main" style="width: 600px;height:400px;"></div>
        </div>
    </div>
</template>
<script>
    exports = {
        templateType:'vue',
        data: function () {
            return {
              
            }
        },
        mounted:function(){
            setTimeout(()=>{
                var myChart = echarts.init(document.getElementById('main'));
                // 指定图表的配置项和数据
                var option = {
                    xAxis: {
                        type: 'category',
                        data: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']
                    },
                    yAxis: {
                        type: 'value'
                    },
                    series: [
                        {
                        data: [120, 200, 150, 80, 70, 110, 130],
                        type: 'bar'
                        }
                    ]
                };

                // 使用刚指定的配置项和数据显示图表。
            myChart.setOption(option);
            },100)

        },
        methods:{
         
        }
    }
</script>

<style>
    
</style>