<template>
    <div class="oui-class-loginaccount">
        <div class="videbox">
            <video :id="videoId" style="width: 100%;height: 100%;" class="video-js vjs-big-play-centered" controls data-setup="{}" width="660"
                height="400" preload="auto">
            </video>

        </div>
    </div>
</template>

<script>
    
    exports = {
        templateType: 'vue',
        data: function () {
            return {
                videoId:'video-'+oui.getUUIDLong(),
                placeholder:'',
                accountIconUrl: '',
                // 音量
                volume: '',
                //填充样式
                fillStyle: '',
                //协议
                protocol: "",
                //用户名
                username: "",
                //密码
                password: "",
                //服务器
                server: "",
                //端口
                port: "",
                //连接地址
                websiteLink: "",
                options: {
                    muted: true,
                    controls: true,
                    loop: true,
                    autoplay: false,
                    playbackRates: [0.5, 1, 1.5, 2, 3],
                    sources: [{
                        // src: 'http://ivi.bupt.edu.cn/hls/cctv1hd.m3u8',
                        src: '',
                        type: 'application/x-mpegURL'
                    }],
                }
            }
        },
        mounted: function () {
            
            if (this.loading) {
                return;
            }
            if (!this.loading) {
                this.loading = true;
            }
            var me  = this;
          
            oui.require([oui.getContextPath()+'res_common/third/videojs/video.min.js'],function(){
                me.init();
            },function(){});
            // me.init();
           
        },
        methods: {


            init:function(){
                 console.log('流媒体数据',this.control.otherAttrs);
                if (this.control.otherAttrs.fillStyle) {
                    this.fillStyle = this.control.otherAttrs.fillStyle;
                }
                if (this.control.otherAttrs.volume) {
                    this.volume = this.control.otherAttrs.volume;
                }
                if (this.control.otherAttrs.protocol) {
                    this.protocol = this.control.otherAttrs.protocol;
                }
                if (this.control.otherAttrs.username) {
                    this.username = this.control.otherAttrs.username;
                }
                if (this.control.otherAttrs.password) {
                    this.password = this.control.otherAttrs.password;
                }
                if (this.control.otherAttrs.server) {
                    this.server = this.control.otherAttrs.server;
                }
                if (this.control.otherAttrs.port) {
                    this.port = this.control.otherAttrs.port;
                }
                if (this.control.otherAttrs.websiteLink) {
                    this.websiteLink = this.control.otherAttrs.websiteLink;
                }
                if (this.control.otherAttrs.websiteLink) {
                    this.options.sources[0].src = this.control.otherAttrs.websiteLink;
                }
              
                var me = this;
                this.$nextTick(function(){
                    me.videPlayer()
                }); 
            },
            videPlayer: function () {
                var myvideo = document.getElementById(this.videoId)

                var player = videojs(myvideo, this.options);

                window.player = player

                // player.on('mouseout', function () {
                //     console.log('video.js-mouseout')
                //     player.userActive(false)
                // });

                // player.on('mouseover', function () {
                //     console.log('video.js-mouseover')
                //     player.userActive(true)
                // });
                player.on('fullscreenchange', function () {
                    console.log('video.js-fullscreenchange', player.isFullscreen())
                });
                player.on('useractive', function (e) {
                    window.console.log('videoJS: useractive');
                });
                player.on('userinactive', function (e) {
                    window.console.log('videoJS: userinactive');
                });

                player.on('durationchange', function (e) {
                    window.console.log('videoJS: durationchange');
                });
                player.on('ended', function (e) {
                    window.console.log('videoJS: ended');
                });
                player.on('ready', function (e) {
                    window.console.log('videoJS: ready');
                });
                player.on('error', function (e) {
                    window.console.log('videoJS: error');
                });
                player.on('firstplay', function (e) {
                    window.console.log('videoJS: firstplay');
                });
                player.on('loadedalldata', function (e) {
                    window.console.log('videoJS: loadedalldata');
                });
                player.on('loadeddata', function (e) {
                    window.console.log('videoJS: loadeddata');
                });
                player.on('loadedmetadata', function (e) {
                    window.console.log('videoJS: loadedmetadata');
                });
                player.on('loadstart', function (e) {
                    window.console.log('videoJS: loadstart');
                });
                player.on('pause', function (e) {
                    window.console.log('videoJS: pause', player.readyState());
                });
                player.on('play', function (e) {
                    window.console.log('videoJS: play', player.readyState());
                });
                player.on('seeked', function (e) {
                    window.console.log('videoJS: seeked');
                });
                player.on('seeking', function (e) {
                    window.console.log('videoJS: seeking');
                });
                player.on('waiting', function (e) {
                    window.console.log('videoJS: waiting');
                });

                player.on('contentplayback', function (e) {
                    window.console.log('videoJS: contentplayback');
                });
                player.on('ended', function (e) {
                        window.console.log('videoJS: ended');
                    }),

                    player.on('ima3error', function (e) {
                        window.console.log('videoJS/IMA3: ima3error');
                    });
                player.on('ima3-ad-error', function (e) {
                    window.console.log('videoJS/IMA3: ima3-ad-error');
                });
                player.on('ima3-ready', function (e) {
                    window.console.log('videoJS/IMA3: ima3-ready');
                });

                player.on('ads-request', function (e) {
                    window.console.log('videoJS/Ads: ads-request');
                });
                player.on('ads-load', function (e) {
                    window.console.log('videoJS/Ads: ads-load');
                });
                player.on('ads-ad-started', function (e) {
                    window.console.log('videoJS/Ads: ads-ad-started');
                });
                player.on('ads-ad-ended', function (e) {
                    window.console.log('videoJS/Ads: ads-ad-ended');
                });
                player.on('ads-first-quartile', function (e) {
                    window.console.log('videoJS/Ads: ads-first-quartile');
                });
            },

























            changeSrc: function () {
                player.src

            }






        }
    }
</script>

<style>
    .videbox {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    /* .video-js{
        width: 100% !important;
        height: 100% !important;

    } */
    .oui-class-loginaccount {
        margin-bottom: 20px;
    }

    .loginaccount-box {
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #e6e6e6;
        background: #fff;
    }

    .loginaccount-icon {
        width: 20px;
        height: 20px;
        margin-left: 10px;
        z-index: 100;
    }

    .control-container-abs .loginaccount-input input {
        border: none;
        border-radius: 4px;
    }

    .oui-error-info {
        position: absolute;
        color: red;
        font-size: 14px;
    }
</style>