@charset "UTF-8";
html {
    font-size: 100px;
    height: 100%;
    word-wrap: break-word;
    word-break: break-all;
}
.mapIFrame {
    border: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1000;
    background: #ffffff;
}

.mapClose {
    width: 50px;
    height: 48px;
    line-height: 48px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1005;
    background: #f8f8f8;
    color: #000b15;
    border-bottom: 1px solid #959595;
    font-size: .16rem;
    text-align: center;
    margin: 0 auto;
    vertical-align: middle;
}

.mapBgDIV {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

/*单行文本*/
.oui-class-textfield {
    width: 100%;
    position: relative;
    font-size: 0;
}

/*多行文本*/
.oui-class-textarea {
    width: 100%;
    position: relative;
    font-size: 0;
}
.oui-class-textarea textarea:read-only{
    pointer-events: auto;
}
/*数字*/
.oui-class-number {
    width: 100%;
}
.oui-class-number .oui-number-percent{
    padding-right: .25rem;
}
.oui-class-number .oui-number-percent+.form-delete-info{
    right: .2rem;
}
.oui-class-number .oui-number-percent-char{
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    width: .25rem;
    height: .26rem;
    text-align: center;
    display: inline-block;
    line-height: .26rem;
    font-size: .18rem;
    color: #515151;
    font-weight: bold;
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -.13rem;
}
.oui-class-number .oui-number-split-area{
    background: #fff;
    width: 100%;
    min-height: .4rem;
    line-height: .34rem;
    font-size: .16rem;
    color: #515151;
    padding: .03rem .1rem;
    border: 1px solid #e6e6e6;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    -webkit-border-radius:.03rem;
    -moz-border-radius:.03rem;
    border-radius:.03rem;
}
/*单选多选文字信息*/
.button-wrapper-info{
    display: inline-block;
    font-size: .16rem;
    line-height: 1.5;
    word-wrap: break-word;
}
/*单选按钮*/
.oui-class-radio label, .oui-class-multiselect label {
    display: block;
    min-height: .27rem;
    padding: 0 .2rem 0 .25rem;
    margin: .07rem auto;
    color: #444444;
    font-size: .16rem;
    word-wrap: break-word;
    /*word-break: normal !important;*/
    position: relative;
}

.oui-class-radio-1 label, .oui-class-multiselect-1 label {
    display: block;
    min-height: .27rem;
    color: #444444;
    font-size: .16rem;
    margin: .07rem auto;
    padding-left: .25rem;
    word-wrap: break-word;
    /*word-break: normal !important;*/
    position: relative;
}

.oui-class-radio label:active, .oui-class-multiselect label:active {
    background: #f2f2f2;
}

.oui-class-radio-1 label:active, .oui-class-multiselect-1 label:active {
    background: #f2f2f2;
}

.oui-class-radio label.oui-class-others, .oui-class-multiselect label.oui-class-others {
    display: inline-block;
    min-height: .27rem;
    padding: 0 .2rem 0 .25rem;
    margin: .07rem auto;
    color: #444444;
    font-size: .16rem;
    word-wrap: break-word;
}

.oui-class-radio-1 label.oui-class-others, .oui-class-multiselect-1 label.oui-class-others {
    display: inline-block;
    min-height: .27rem;
    color: #444444;
    font-size: .16rem;
    padding-left: .25rem;
    margin: .07rem auto;
    word-wrap: break-word;
}
.oui-class-radio label .multiSelect-wrapper,
.oui-class-radio label .radio-button-wrapper,
.oui-class-radio-1 label .multiSelect-wrapper,
.oui-class-radio-1 label .radio-button-wrapper,
.oui-class-multiselect label .radio-button-wrapper,
.oui-class-multiselect label .multiSelect-wrapper,
.oui-class-multiselect-1 label .radio-button-wrapper,
.oui-class-multiselect-1 label .multiSelect-wrapper{
    position: absolute;
    left: 0;
    top: .05rem;
}
/*多选按钮*/
.oui-class-multiselect {
    display: box;
    display: -webkit-box;
    display: -moz-box;
}

.oui-class-multiselect > div {
    display: inline-block;
    position: relative;
}

.oui-class-multiselect-1 > div {
    width: 100%;
    position: relative;
}

/*其他选项*/
.oui-input-others {
    width: 60% !important;
    height: .3rem !important;
    margin-left: .05rem;
    /*margin-top: -.07rem;*/
}

/*单选&多选公用*/
.multiSelect-wrapper, .radio-button-wrapper {
    position: relative;
    display: inline-block;
    padding: 0;
    width: .2rem;
    height: .2rem;
    line-height: .16rem;
    text-align: center;
    vertical-align: middle;
    margin: -.03rem .05rem 0 0;
    pointer-events: none;
}

.multiSelect-wrapper *, .radio-button-wrapper * {
    pointer-events: none;
}

.selected-icon {
    cursor: pointer;
}

.radio-button-wrapper input[type=radio], .multiSelect-wrapper input[type=checkbox], .multiSelect-wrapper input[type=radio] {
    position: absolute;
    left: -99.99rem;
    visibility: hidden;
}

.multiSelect-wrapper input[type="checkbox"] + .selected-icon, .multiSelect-wrapper input[type="radio"] + .selected-icon, .radio-button-wrapper input[type="radio"] + .selected-icon {
    display: inline-block;
    background: #FFF;
    border: 1px solid #cccccc;
    /*    -webkit-transition: background 0.28s ease;
        -o-transition: background 0.28s ease;
        transition: background 0.28s ease;*/
}

.multiSelect-wrapper input[type="checkbox"] + .selected-icon:after, .multiSelect-wrapper input[type="radio"] + .selected-icon:after, .radio-button-wrapper input[type="radio"] + .selected-icon:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
}

.multiSelect-wrapper input[type="checkbox"]:checked + .selected-icon, .multiSelect-wrapper input[type="radio"]:checked + .selected-icon, .radio-button-wrapper input[type="radio"]:checked + .selected-icon {
    background-color: #2C82FC;
    border-color: #2C82FC;
}

/*单选*/
.radio-button-wrapper input[type="radio"] + .selected-icon {
    width: .2rem;
    height: .2rem;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.radio-button-wrapper input[type="radio"] + .selected-icon:after {
    background: #FFF;
    width: .2rem;
    height: .2rem;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
}

.radio-button-wrapper input[type="radio"]:checked + .selected-icon:after {
    -webkit-transform: scale(0.4);
    -ms-transform: scale(0.4);
    -o-transform: scale(0.4);
    transform: scale(0.4);
}

/*多选*/
.multiSelect-wrapper input[type="checkbox"] + .selected-icon, .multiSelect-wrapper input[type="radio"] + .selected-icon {
    width: .2rem;
    height: .2rem;
    border-radius: .02rem;
}

.multiSelect-wrapper input[type="checkbox"]:checked + .selected-icon:after, .multiSelect-wrapper input[type="radio"]:checked + .selected-icon:after, .radio-button-wrapper input[type="checkbox"]:checked + .selected-icon:after {
    border-bottom-color: #FFF;
    border-right-color: #FFF;
}

.multiSelect-wrapper input[type="checkbox"] + .selected-icon:after, .multiSelect-wrapper input[type="radio"] + .selected-icon:after, .radio-button-wrapper input[type="checkbox"] + .selected-icon:after {
    top: 1px;
    left: -1px;
    width: .06rem;
    height: .11rem;
    border: .02rem solid transparent;
    -webkit-transform: rotate(43deg);
    -ms-transform: rotate(43deg);
    -o-transform: rotate(43deg);
    transform: rotate(43deg);
    -webkit-transform-origin: 100% 100%;
    -moz-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}

/*下拉框*/
.oui-class-select {
    width: 100%;
}

.oui-class-singleselect {
    position: relative;
    font-size: 0;
}

/*模拟下拉单选（oui-class-singleselect-（）或者下拉多选(oui-class-multiselect-（）)*/
.oui-class-singleselect-2,
.oui-class-singleselect-3,
.oui-class-multiselect-2,
.oui-class-multiselect-3,
.oui-class-singleselect-4,
.oui-class-singleselect-5,
.oui-class-multiselect-4,
.oui-class-multiselect-5{
    font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif;
    width: 100%;
    position: relative;
    font-size: .14rem;
}

.oui-class-singleselect-3,
.oui-class-multiselect-3,
.oui-class-singleselect-4,
.oui-class-singleselect-5,
.oui-class-multiselect-4,
.oui-class-multiselect-5{
    /* border: 1px solid #bdbdbd; */
    -webkit-border-radius: .03rem;
    -moz-border-radius: .03rem;
    border-radius: .03rem;
    padding-right: .25rem;
}
.oui-class-singleselect-5{
    border: 1px solid #bdbdbd;
    background: #ffffff;
}

.oui-class-singleselect-2 input[type="text"],
.oui-class-singleselect-3 input[type="text"],
.oui-class-multiselect-2 input[type="text"],
.oui-class-multiselect-3 input[type="text"],
.oui-class-singleselect-4 input[type="text"],
.oui-class-singleselect-5 input[type="text"],
.oui-class-multiselect-4 input[type="text"],
.oui-class-multiselect-5 input[type="text"]{
    font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif;
    width: 100%;
    min-height: 100%;
    line-height: .24rem;
    padding: 0 .05rem;
    border: 1px solid rgba(0, 0, 0, .2);
    outline: none;
    font-size: .14rem;
    -webkit-border-radius: .03rem;
    -moz-border-radius: .03rem;
    border-radius: .03rem;
    padding-right: .3rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.oui-class-singleselect-3 input[type="text"],
.oui-class-multiselect-3 input[type="text"],
.oui-class-singleselect-4 input[type="text"],
.oui-class-singleselect-5 input[type="text"],
.oui-class-multiselect-4 input[type="text"],
.oui-class-multiselect-5 input[type="text"]{
    border: 0;
    padding-right: 0;
}
.oui-class-singleselect-5 input[type="text"]{
    height: .35rem;
}
.oui-class-singleselect-2 input[type="text"]:focus,
.oui-class-multiselect-2 input[type="text"]:focus {
    border: 1px solid #2C82FC;
}

.singleselect-arrow, .multiselect-arrow {
    background: url(../images/xiajianjiao-arrow.png) no-repeat;
    width: .16rem;
    height: .16rem;
    position: absolute;
    right: .08rem;
    top: .08rem;
}

/*数字2是默认展开，数字3是浮动展开*/
.oui-class-singleselect-2 .oui-select-mask-layer,
.oui-class-singleselect-3 .oui-select-mask-layer,
.oui-class-multiselect-2 .oui-select-mask-layer,
.oui-class-multiselect-3 .oui-select-mask-layer {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0);
    z-index: 500;
    display: none;
}

.oui-class-singleselect-2 .oui-select-pop-area, .oui-class-multiselect-2 .oui-select-pop-area {
    background: #ffffff;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: .03rem;
    max-width: 90%;
    margin: 0 auto;
    margin-top: .12rem;
    box-shadow: .01rem .03rem .03rem #ddd;
    padding: .05rem;
    position: relative;
}

.oui-class-singleselect-3 .oui-select-pop-area,
.oui-class-multiselect-3 .oui-select-pop-area,
.oui-class-singleselect-4 .oui-select-pop-area,
.oui-class-singleselect-5 .oui-select-pop-area ,
.oui-class-multiselect-4 .oui-select-pop-area,
.oui-class-multiselect-5 .oui-select-pop-area{
    width: 2.2rem;
    background: #ffffff;
    padding: .05rem;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: .03rem;
    position: absolute;
    top: .47rem;
    left: 50%;
    margin-left: -1.1rem;
    box-shadow: .01rem .03rem .03rem #ddd;
    z-index: 600;
}
/*单选&多选平铺开始*/
.oui-class-multiselect-6,
.oui-class-radio-4{
    font-size: 0;
    display: block;
    margin-right: -.1rem;
}
.oui-class-multiselect-6 > div,
.oui-class-radio-4 > div{
    display: inline-block;
    vertical-align: top;
    position: relative;
    padding: .05rem .12rem;
    margin: .05rem .1rem .05rem 0;
}
.oui-class-multiselect-6 > div label,
.oui-class-radio-4 > div label{
    display: inline-block;
}
.oui-class-multiselect-6 .multiSelect-wrapper,
.oui-class-radio-4 .radio-button-wrapper{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0;
    z-index: 20;
}
.oui-class-multiselect-6 .button-wrapper-info,
.oui-class-radio-4 .button-wrapper-info{
    position: relative;
    z-index: 10;
    cursor: pointer;
}
.oui-class-multiselect-6 .multiSelect-wrapper input[type="checkbox"] + .selected-icon,
.oui-class-radio-4 .radio-button-wrapper input[type="radio"] + .selected-icon{
    background: transparent;
    width: 100%;
    height: 100%;
    border-color: #ccc;
    border-radius: .03rem;
}
.oui-class-multiselect-6 .multiSelect-wrapper input[type="checkbox"]:checked + .selected-icon,
.oui-class-radio-4 .radio-button-wrapper input[type="radio"]:checked + .selected-icon{
    background: rgba(44,130,252,.1);
    border-color: #2C82FC;
}
.oui-class-multiselect-6 .multiSelect-wrapper input[type="checkbox"] + .selected-icon:after,
.oui-class-radio-4 .radio-button-wrapper input[type="radio"] + .selected-icon:after{
    visibility: hidden;
}
/*单选&多选平铺结束*/
.oui-select-pop-area ul{
    max-height: 2rem;
    overflow-y: auto;
}
.oui-select-pop-area ul li {
    width: 100%;
    display: block;
    line-height: 1.5;
    padding: .05rem .03rem;
    text-align: left;
    display: -webkit-box;
    overflow: hidden;
    white-space: normal !important;
    text-overflow: ellipsis;
    word-wrap: break-word;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    position: relative;
    z-index: 10;
    background: #fff;
    color: #515151;
}

.oui-select-pop-area ul li.active {
    background: #f4f4f4;
}

.oui-class-singleselect-2 ul li > label, .oui-class-singleselect-3 ul li > label, .oui-class-multiselect-2 ul li > label, .oui-class-multiselect-3 ul li > label, .oui-class-singleselect-4 ul li > label, .oui-class-singleselect-5 ul li > label {
    display: block;
    /*word-wrap: break-word;
    word-break: break-all;*/
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-top: 1px;
}
.singleselect-hidden-radio ul li label>div.radio-button-wrapper{
    display: none;
}
.select-triangle {
    background: #ffffff;
    width: .14rem;
    height: .14rem;
    position: absolute;
    transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    left: 50%;
    top: -.08rem;
    margin-left: -.07rem;
    z-index: 2;
}

.border-top:after {
    border-top: 1px solid rgba(0, 0, 0, .4);
}

.border-right:after {
    border-right: 1px solid rgba(0, 0, 0, .4);
}

/*时间日期*/
.oui-class-datepicker, .oui-class-timepicker{
    position: relative;
    font-size: 0;
}
.oui-class-datepicker-1, .oui-class-timepicker-1{
    position: relative;
}
.form-ico-datepicker {
    background: url("../images/design-ico-datepicker.png") no-repeat center;
    background-size: .23rem .23rem;
    left: .05rem;
    width: .23rem;
    height: .24rem;
    position: absolute;
    top: 50%;
    margin-top: -.12rem;
    cursor: pointer;
}

/*时间*/
.form-ico-datetime {
    background: url("../images/design-ico-datetime.png") no-repeat center;
    background-size: .23rem .23rem;
    left: .05rem;
    width: .23rem;
    height: .24rem;
    position: absolute;
    top: 50%;
    margin-top: -.12rem;
    cursor: pointer;
}

.form-ico-datetime {
    background: url("../images/design-ico-datetime.png") no-repeat center;
    background-size: .23rem .23rem;
    left: .05rem;
}

.form-text-indent {
    padding-left: .35rem !important;
}

/*文字说明*/
.oui-class-label {
    width: 100%;
}

.no-label-padding {
    padding: .2rem 0 !important;
}

/*上传图片*/
.oui-class-uploadimg p {
    width: 47%;
    padding-bottom: 47%;
    margin-right: 3%;
    display: inline-block;
    background: #f5f5f5;
    text-align: center;
    vertical-align: middle;
    position: relative;
    margin-top: .05rem;
    margin-bottom: .05rem;
    overflow: inherit !important;
}

.oui-class-uploadimg p span{
    background: url("../images/form-uploadimg-ico.png") top center no-repeat;
    background-size: .35rem .35rem;
    color: #2C82FC;
    width: 100%;
    padding-top: .4rem;
    display: inline-block;
    font-size: .128rem;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -.28rem;
    z-index: 2;
}
.oui-class-imagesingle p span,
.oui-class-imagesingle-1 p span,
.oui-class-imagemulti p span,
.oui-class-imagemulti-1 p span {
      background: url("../images/form-uploadimg-ico.png") top center no-repeat;
      background-size: .35rem .35rem;
      color: #2C82FC;
      width: 100%;
      height: .7rem;
      padding-top: .4rem;
      display: inline-block;
      font-size: .128rem;
      position: absolute;
      left: 0;
      top: 50%;
      margin-top: -.35rem;
      z-index: 2;
  }


.oui-class-uploadimg p input {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: 4;
}

.oui-class-uploadimg p img {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
}

.oui-class-uploadimg p span.upload-img-name {
    background: none;
    color: #515151;
    width: 100%;
    height: .4rem;
    line-height: .4rem;
    padding-top: 0;
    display: inline-block;
    font-size: .12rem;
    position: relative;
    left: 0;
    top: 50%;
    margin-top: 0;
    z-index: 2;
    overflow: hidden;
    white-space: normal;
    word-break: break-all;
    text-overflow: ellipsis;
}

.oui-class-uploadimg p span.upload-img-src {
    background: none;
    height: .75rem;
    position: relative;
    padding-top: 0;
    display: block;
    margin-top: 0;
    overflow: hidden;
}

.uploadimg-p-padding p {
    padding-bottom: 0 !important;
}
.oui-class-uploadimg .uploadimg-del-btn {
    background: url("../images/ico-delete.png") no-repeat center;
    background-size: .22rem .22rem;
    width: .22rem;
    height: .22rem;
    position: absolute;
    right: -.05rem;
    top: -.05rem;
    z-index: 20;
}
/*上传附件*/
.oui-class-uploadfile {
    position: relative;
    display: block;
}

.oui-class-uploadfile p {
    position: relative;
    margin-top: .06rem;
    display: block;
}

.oui-class-uploadfile input {
    background: #f5f5f5 !important;
    height: .4rem !important;
    line-height: .4rem !important;
    padding-left: .1rem;
    color: #a3a3a3;
    font-size: .08rem;
    border: 0 !important;
}

.oui-class-uploadfile input[type=file] {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    width: 100%;
    z-index: 2;
}

.oui-class-uploadfile .uploadfile-info {
    background: #f5f5f5;
    width: 100%;
    height: .4rem;
    color: #a3a3a3;
    line-height: .4rem;
    font-size: 0.14rem;
    padding: 0 .08rem;
    padding-right: .4rem;
    display: block;
    overflow: hidden;
    white-space: normal;
    word-break: break-all;
    text-overflow: ellipsis;
}

.oui-class-uploadfile .uploadfile-success {
    color: #2C82FC;
    text-decoration: underline;
    cursor: pointer;
}

.oui-class-uploadfile .uploadfile-add, .oui-class-uploadfile .uploadfile-delete {
    width: .4rem;
    height: .4rem;
    padding: 0 .08rem;
    position: absolute;
    right: 0;
    top: 0;
}

.oui-class-uploadfile .uploadfile-add {
    background: url("../images/ico-defaultfooter.png") #2C82FC center no-repeat;
    background-size: .18rem .18rem;
}

.oui-class-uploadfile .uploadfile-delete {
    background: url("../images/ico-defaultfooter-dele.png") #2C82FC center no-repeat;
    background-size: .18rem .18rem;
}

/*评分*/
.oui-class-score {
    width: 100%;
    font-size: 0;
}

.oui-class-score ul {
    height: .32rem;
}

.oui-class-score ul li {
    background: url("../images/star-favourite-link.png") no-repeat;
    background-size: .32rem .32rem;
    width: .32rem;
    height: .32rem;
    display: inline-block;
    margin-right: .02rem;
}

.oui-score-active {
    background: url("../images/star-favourite-active.png") no-repeat !important;
    background-size: .32rem .32rem !important;
}

/*开关*/
.oui-class-checkbox {
    position: relative;
    font-size: 0;
}

.oui-checkbox {
    display: inline-block;
    vertical-align: middle;
    width: .52rem;
    height: .32rem;
    border-radius: .16rem;
    position: relative;
    cursor: pointer;
    -ms-flex-item-align: center;
    -webkit-align-self: center;
    align-self: center;
    /*pointer-events: none;*/
}

.oui-checkbox * {
    pointer-events: none;
}

.oui-checkbox input[type=checkbox] {
    position: absolute;
    left: -99.99rem;
    visibility: hidden;
}

.oui-checkbox input[type=checkbox]:checked + .checkbox {
    background: #2C82FC;
}

.oui-checkbox input[type=checkbox]:checked + .checkbox:before {
    -webkit-transform: scale(0);
    transform: scale(0)
}

.oui-checkbox input[type=checkbox]:checked + .checkbox:after {
    -webkit-transform: translateX(.44rem);
    transform: translateX(.44rem)
}

.oui-checkbox .checkbox {
    width: .52rem;
    height: .32rem;
    border-radius: .16rem;
    background: #e5e5e5;
    z-index: 0;
    margin: 0;
    padding: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    border: none;
    cursor: pointer;
    position: relative;
    -webkit-transition-duration: 300ms;
    transition-duration: 300ms
}

.oui-checkbox .checkbox:before {
    content: '';
    position: absolute;
    left: .02rem;
    top: .02rem;
    width: .48rem;
    border-radius: .16rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: .28rem;
    background: #fff;
    z-index: 1;
    -webkit-transition-duration: 300ms;
    transition-duration: 300ms;
    -webkit-transform: scale(1);
    transform: scale(1)
}

.oui-checkbox .checkbox:after {
    content: ' ';
    height: .28rem;
    width: .28rem;
    border-radius: .28rem;
    background: #fff;
    position: absolute;
    z-index: 2;
    top: .02rem;
    left: .02rem;
    -webkit-box-shadow: 0 1px .03rem rgba(0, 0, 0, 0.4);
    box-shadow: 0 1px .03rem rgba(0, 0, 0, 0.4);
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-transition-duration: 300ms;
    transition-duration: 300ms
}

.oui-checkbox.large, .oui-checkbox.large .checkbox {
    width: .52rem;
    height: .32rem;
    border-radius: .16rem;
}

.oui-checkbox.large input[type=checkbox]:checked + .checkbox:after {
    -webkit-transform: translateX(.22rem);
    transform: translateX(.22rem)
}

.oui-checkbox.large .checkbox:before {
    left: .02rem;
    top: .02rem;
    width: 4.48rem;
    border-radius: .16rem;
    height: .28rem;
}

.oui-checkbox.large .checkbox:after {
    height: 28rem;
    width: 28rem;
    border-radius: 28rem;
    top: .02rem;
    left: .02rem;
}

.oui-checkbox.middle, .oui-checkbox.middle .checkbox {
    width: .54rem;
    height: .32rem;
    border-radius: .16rem;
}

.oui-checkbox.middle input[type=checkbox]:checked + .checkbox:after {
    -webkit-transform: translateX(.23rem);
    transform: translateX(.23rem)
}

.oui-checkbox.middle .checkbox {
    display: inline-block;
}

.oui-checkbox.middle .checkbox:before {
    left: 1px;
    top: 1px;
    width: .52rem;
    border-radius: .16rem;
    height: .3rem;
}

.oui-checkbox.middle .checkbox:after {
    height: .3rem;
    width: .3rem;
    border-radius: .22rem;
    top: 1px;
    left: 1px;
}

.oui-checkbox input[type=checkbox] {
    display: inline \9;
    zoom: 1 \9
}

.oui-checkbox .checkbox {
    display: none \9
}

.oui-checkbox.disabled {
    opacity: .4
}

.oui-class-label {
    position: relative;
}

.oui-class-image {
    position: relative;
}

.oui-class-number {
    position: relative;
    font-size: 0;
}

/*地理位置*/
a.amap-logo {
    width: 0 !important;
    height: 0 !important;
}

.oui-class-lbs {
    background: #F2F2F2;
    min-height: .4rem;
    padding: .08rem;
    padding-right: .30rem;
    position: relative;
}

.oui-class-lbs .lbs-item {
    background: url("../images/oui-lbs-ico.png") left top no-repeat;
    background-size: .24rem .24rem;
    padding-left: .3rem;
    min-height: .24rem;
    line-height: .24rem;
    display: inline-block;
}

.oui-class-lbs .lbs-info {
    font-size: .14rem;
    text-align: center;
    color: #2C82FC;
}
.oui-class-lbs .lbs-info.lbs-info-left{
    text-align: left;
    color: #515151;
}
/*地理位置浮动层*/
.lbs-float-layer {
    background: #ffffff;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1500;
    top: 0;
    left: 0;
    -webkit-animation: lbsUp 0.4s ease-in-out;
    -o-animation: lbsUp 0.4s ease-in-out;
    animation: lbsUp 0.4s ease-in-out;
}

@-webkit-keyframes lbsUp {
    0% {
        -webkit-transform: translate3d(0, 100%, 0);
        -moz-transform: translate3d(0, 100%, 0);
        -ms-transform: translate3d(0, 100%, 0);
        -o-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
    100% {
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        -o-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes lbsUp {
    0% {
        -webkit-transform: translate3d(0, 100%, 0);
        -moz-transform: translate3d(0, 100%, 0);
        -ms-transform: translate3d(0, 100%, 0);
        -o-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
    100% {
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        -o-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.lbs-search {
    background: #efeff4;
    width: 100%;
    height: .42rem;
    padding: .08rem;
    padding-right: .8rem;
    padding-top: .06rem;
    border-bottom: 1px solid #d6d7dc;
    font-size: 0;
    position: relative;
}

.lbs-search input {
    background: #ffffff;
    width: 100%;
    height: .30rem;
    border: 1px solid #dadbdf;
    outline: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-align: left;
    color: #333333;
}

.lbs-search input:focus {
    text-align: left;
}

.lbs-search button {
    background: #ff943e;
    width: .6rem;
    height: .30rem;
    color: #ffffff;
    border: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    position: absolute;
    right: .1rem;
    top: .06rem;
    font-size: .14rem;
    outline: none;
}

.lbs-search button:active {
    background: #fea156;
}

.lbs-map {
    width: 100%;
    height: 1.6rem;
    background: #333;
}

.lbs-list {
    position: absolute;
    top: 2.02rem;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

.lbs-poi-search {
    position: absolute;
    top: .42rem;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    background: #ffffff;
    z-index: 1000;
    display: none;
}

.lbs-poi-search ul, .lbs-list ul {
    width: 100%;
    overflow: hidden;
    font-size: 0;
}

.lbs-poi-search ul li, .lbs-list ul li {
    width: 100%;
    padding-top: .07rem;
    display: inline-block;
    padding-left: .2rem;
    padding-right: 0;
}

.lbs-poi-search ul li div, .lbs-list ul li div {
    width: 100%;
    position: relative;
    padding-right: .3rem;
    padding-bottom: .07rem;
    border-bottom: 1px solid #f2f2f2;
}

.lbs-poi-search ul li div .lbs-b-name, .lbs-list ul li div .lbs-b-name {
    font-size: .16rem;
    color: #333333;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.lbs-poi-search ul li div .lbs-s-name, .lbs-list ul li div .lbs-s-name {
    font-size: .12rem;
    color: #b9b9b9;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.lbs-poi-search ul li div i, .lbs-list ul li div i {
    background: url("../images/lbs-selected-ico.png") center no-repeat;
    background-size: .2rem .2rem;
    width: .2rem;
    height: .2rem;
    position: absolute;
    top: 50%;
    right: .05rem;
    margin-top: -.13rem;
}

.lbs-cancle {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: .47rem;
    text-align: center;
    line-height: .47rem;
    font-size: .16rem;
    color: #ff9e24;
    border-top: 1px solid #f2f2f2;
}
.lbs-map-area{
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    overflow: hidden;
}
.lbs-map-footer{
    background: #f5f6f8;
    padding: .06rem .12rem;
    font-size: 0;
}
.lbs-map-footer .oui-class-multiselect{
    display: block;
}
.lbs-map-footer .oui-class-multiselect > div{
    width: 50%;
    vertical-align: top;
    font-size: .14rem;
}
.lbs-map-footer .lbs-map-example{
    display: block;
    font-size: .14rem;
    padding-bottom: .05rem;
    text-align: left;
    color: rgba(81,81,81,.7);
}
/*图片单选--多选*/
.oui-class-imagesingle,
.oui-class-imagemulti,
.oui-class-imagesingle-1,
.oui-class-imagemulti-1 {
    width: 100%;
    font-size: 0;
}

.oui-class-imagesingle,
.oui-class-imagemulti {
    text-align: left;
}

.oui-class-imagesingle-1,
.oui-class-imagemulti-1 {
    text-align: center;
}

.oui-class-imagesingle .oui-class-imagesingle-item,
.oui-class-imagesingle-1 .oui-class-imagesingle-item,
.oui-class-imagemulti .oui-class-imagemulti-item,
.oui-class-imagemulti-1 .oui-class-imagemulti-item {
    width: 100%;
    margin-bottom: .1rem;
    padding: 0;
    position: relative;
    vertical-align: top;
}
.oui-class-imagesingle .oui-class-imagesingle-item-1,
.oui-class-imagesingle-1 .oui-class-imagesingle-item-1,
.oui-class-imagemulti .oui-class-imagemulti-item-1,
.oui-class-imagemulti-1 .oui-class-imagemulti-item-1 {
    width: 48%;
    margin: .1rem 1%;
    padding: 0;
    position: relative;
    vertical-align: top;
}
.oui-class-imagesingle .oui-class-imagesingle-item-2,
.oui-class-imagesingle-1 .oui-class-imagesingle-item-2,
.oui-class-imagemulti .oui-class-imagemulti-item-2,
.oui-class-imagemulti-1 .oui-class-imagemulti-item-2 {
    width: 32%;
    margin: .05rem 1%;
    padding: 0;
    position: relative;
    vertical-align: top;
}
.oui-class-imagesingle .oui-class-imagesingle-item-1:nth-child(2n-1),
.oui-class-imagemulti .oui-class-imagemulti-item-1:nth-child(2n-1) {
    margin: .05rem 2% .05rem 0;
}
.oui-class-imagesingle .oui-class-imagesingle-item-1:nth-child(2n),
.oui-class-imagemulti .oui-class-imagemulti-item-1:nth-child(2n) {
    margin: .05rem 0 .05rem 2%;
}

.oui-class-imagesingle .oui-class-imagesingle-item-2:nth-child(3n+1),
.oui-class-imagemulti .oui-class-imagemulti-item-2:nth-child(3n+1) {
    margin: .05rem 1% .05rem 0;
}
.oui-class-imagesingle .oui-class-imagesingle-item-2:nth-child(3n),
.oui-class-imagemulti .oui-class-imagemulti-item-2:nth-child(3n) {
    margin: .05rem 0 .05rem 1%;
}
.oui-class-imagesingle .oui-class-imagesingle-item,
.oui-class-imagesingle .oui-class-imagesingle-item-1,
.oui-class-imagesingle .oui-class-imagesingle-item-2,
.oui-class-imagesingle-1 .oui-class-imagesingle-item,
.oui-class-imagesingle-1 .oui-class-imagesingle-item-1,
.oui-class-imagesingle-1 .oui-class-imagesingle-item-2,
.oui-class-imagemulti .oui-class-imagemulti-item,
.oui-class-imagemulti .oui-class-imagemulti-item-1,
.oui-class-imagemulti .oui-class-imagemulti-item-2,
.oui-class-imagemulti-1 .oui-class-imagemulti-item,
.oui-class-imagemulti-1 .oui-class-imagemulti-item-1,
.oui-class-imagemulti-1 .oui-class-imagemulti-item-2{
    display: inline-block;
}

.oui-class-imagesingle-1 .oui-class-imagesingle-item,
.oui-class-imagesingle-1 .oui-class-imagesingle-item-1,
.oui-class-imagesingle-1 .oui-class-imagesingle-item-2,
.oui-class-imagemulti-1 .oui-class-imagemulti-item,
.oui-class-imagemulti-1 .oui-class-imagemulti-item-1,
.oui-class-imagemulti-1 .oui-class-imagemulti-item-2{
    display: block;
    margin: .1rem auto;
}

.oui-class-imagesingle .oui-class-imagesingle-item p,
.oui-class-imagesingle-1 .oui-class-imagesingle-item p,
.oui-class-imagesingle .oui-class-imagesingle-item-1 p,
.oui-class-imagesingle-1 .oui-class-imagesingle-item-1 p,
.oui-class-imagesingle .oui-class-imagesingle-item-2 p,
.oui-class-imagesingle-1 .oui-class-imagesingle-item-2 p,
.oui-class-imagemulti .oui-class-imagemulti-item p,
.oui-class-imagemulti-1 .oui-class-imagemulti-item p,
.oui-class-imagemulti .oui-class-imagemulti-item-1 p,
.oui-class-imagemulti-1 .oui-class-imagemulti-item-1 p,
.oui-class-imagemulti .oui-class-imagemulti-item-2 p,
.oui-class-imagemulti-1 .oui-class-imagemulti-item-2 p{
    text-align: center;
    vertical-align: middle;
    position: relative;
    width: 100%;
    border: 1px solid transparent;
}
.oui-class-imagesingle .oui-class-imagesingle-item p,
.oui-class-imagesingle-1 .oui-class-imagesingle-item p,
.oui-class-imagemulti .oui-class-imagemulti-item p,
.oui-class-imagemulti-1 .oui-class-imagemulti-item p{
    background: #f5f5f5;
    height: 2.4rem;
}
.oui-class-imagesingle .oui-class-imagesingle-item-1 p,
.oui-class-imagesingle-1 .oui-class-imagesingle-item-1 p,
.oui-class-imagesingle .oui-class-imagesingle-item-2 p,
.oui-class-imagesingle-1 .oui-class-imagesingle-item-2 p,
.oui-class-imagemulti .oui-class-imagemulti-item-1 p,
.oui-class-imagemulti-1 .oui-class-imagemulti-item-1 p,
.oui-class-imagemulti .oui-class-imagemulti-item-2 p,
.oui-class-imagemulti-1 .oui-class-imagemulti-item-2 p{
    background: #f5f5f5;
    padding-bottom: 100%;
}

.oui-class-imagesingle p.images-border-active,
.oui-class-imagesingle-1 p.images-border-active,
.oui-class-imagesingle-2 p.images-border-active,
.oui-class-imagemulti p.images-border-active,
.oui-class-imagemulti-1 p.images-border-active,
.oui-class-imagemulti-2 p.images-border-active{
    border: 1px solid #2C82FC
}

/*.oui-class-imagesingle .oui-class-imagesingle-item p img,
.oui-class-imagesingle-1 .oui-class-imagesingle-item p img,
.oui-class-imagemulti .oui-class-imagemulti-item p img,
.oui-class-imagemulti-1 .oui-class-imagemulti-item p img{
    width: 100%;
}*/
.oui-class-imagesingle .oui-class-imagesingle-item p img,
.oui-class-imagesingle-1 .oui-class-imagesingle-item p img,
.oui-class-imagemulti .oui-class-imagemulti-item p img,
.oui-class-imagemulti-1 .oui-class-imagemulti-item p img,
.oui-class-imagesingle .oui-class-imagesingle-item-1 p img,
.oui-class-imagesingle-1 .oui-class-imagesingle-item-1 p img,
.oui-class-imagesingle .oui-class-imagesingle-item-2 p img,
.oui-class-imagesingle-1 .oui-class-imagesingle-item-2 p img,
.oui-class-imagemulti .oui-class-imagemulti-item-1 p img,
.oui-class-imagemulti-1 .oui-class-imagemulti-item-1 p img,
.oui-class-imagemulti .oui-class-imagemulti-item-2 p img,
.oui-class-imagemulti-1 .oui-class-imagemulti-item-2 p img{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
}

.oui-class-imagesingle .oui-class-imagesingle-item label,
.oui-class-imagesingle-1 .oui-class-imagesingle-item label,
.oui-class-imagesingle .oui-class-imagesingle-item-1 label,
.oui-class-imagesingle-1 .oui-class-imagesingle-item-1 label,
.oui-class-imagesingle .oui-class-imagesingle-item-2 label,
.oui-class-imagesingle-1 .oui-class-imagesingle-item-2 label,
.oui-class-imagemulti .oui-class-imagemulti-item label,
.oui-class-imagemulti-1 .oui-class-imagemulti-item label,
.oui-class-imagemulti .oui-class-imagemulti-item-1 label,
.oui-class-imagemulti-1 .oui-class-imagemulti-item-1 label,
.oui-class-imagemulti .oui-class-imagemulti-item-2 label,
.oui-class-imagemulti-1 .oui-class-imagemulti-item-2 label{
    width: 100%;
    height: .3rem;
    display: inline-block;
    text-align: center;
    font-size: .13rem;
    line-height: .33rem;
    color: #87898e;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/*选人控件*/
.oui-class-selectperson,
.oui-class-selectperson-1,
.oui-class-selectperson-2,
.oui-class-selectperson-3,
.oui-class-selectperson-4,
.oui-class-selectperson-5{
    width: 100%;
}

.oui-class-selectperson .personarea,
.oui-class-selectperson-1 .personarea,
.oui-class-selectperson-2 .personarea,
.oui-class-selectperson-3 .personarea,
.oui-class-selectperson-4 .personarea,
.oui-class-selectperson-5 .personarea,
.oui-class-selectperson-6 .personarea,
.oui-class-selectperson-3 .multi-personarea,
.oui-class-selectperson-4 .multi-personarea,
.oui-class-selectperson-6 .multi-personarea{
    background: url("../images/selectPerson-icon.png") center left .04rem no-repeat;
    background-size: .23rem .23rem;
    width: 100%;
    height: .4rem;
    line-height: .33rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: .03rem;
    padding-left: .35rem;
    -webkit-user-select: text;
    background-color: #fff;
    border: 1px solid #e6e6e6;
    border-radius: .02rem;
    outline: none;
    font-size: .14rem;
    position: relative;
    color: #515151;
    font-family: Microsoft Yahei, "Helvetica Neue", Helvetica, sans-serif;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.oui-class-selectperson-4 .personarea,
.oui-class-selectperson-6 .personarea{
    background: url(../images/selectorg-icon.png) #ffffff center left .04rem no-repeat;
    background-size: .24rem .24rem;
}
.oui-class-selectperson-3 .multi-personarea{
    background: url(../images/multi-selectPerson-icon.png) #ffffff center left .04rem no-repeat;
    background-size: .24rem .24rem;
}
.oui-class-selectperson-4 .multi-personarea,
.oui-class-selectperson-6 .multi-personarea{
    background: url(../images/multi-selectorg-icon.png) #ffffff center left .04rem no-repeat;
    background-size: .24rem .24rem;
}
/*暂无数据*/
.lbs-nodata {
    font-size: .14rem;
    padding-top: .2rem;
    text-align: center;
    color: #515151;
}

/*数字键盘样式*/
.number-area {
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    background: #5d5d5d;
    background: -moz-linear-gradient(top, #7d7d7d, #4d4d4d);
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#7d7d7d), to(#4d4d4d));
    font-size: 0;
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    -ms-transition: -ms-transform 0.3s;
    -o-transition: -o-transform 0.3s;
    transition: transform 0.3s;
    -webkit-transform: translate3d(0, 100%, 0);
    -moz-transform: translate3d(0, 100%, 0);
    -ms-transform: translate3d(0, 100%, 0);
    -o-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
}

.number-area.open {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.number-area dl dt {
    width: 100%;
    padding: .09rem .05rem;
    display: inline-block;
    color: #b1b1b1;
    text-align: center;
    font-size: .14rem !important;
    position: relative;
}

.number-area dl dt span {
    padding: .08rem;
    height: 100%;
    position: absolute;
    right: .08rem;
    top: -.02rem;
    display: inline-block;
    color: #ffffff;
    text-align: center;
    font-size: .18rem !important;
}

.number-area dl dt span:active {
    color: #ff8200;
}

.number-area dl dd {
    width: 33.33%;
    adding: .09rem .05rem;
    display: inline-block;
    color: #ffffff;
    text-align: center;
    font-size: .32rem !important;
    position: relative;
}

.number-area dl dd:active {
    background: rgba(255, 255, 255, .4);
}

.number-area dl dd:nth-child(11) {
    background: rgba(255, 255, 255, .4);
    font-weight: bold;
}

.number-area dl dd:nth-child(13) {
    background: rgba(255, 255, 255, .4);
}

.number-area dl dd:nth-child(11):active, .number-area dl dd:nth-child(13):active {
    background: rgba(255, 255, 255, .1);
}

.number-area dl dd:before {
    content: '';
    position: absolute;
    top: -50%;
    bottom: -50%;
    left: -50%;
    right: -50%;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    border-right: 1px solid #515151;
    border-top: 1px solid #515151;
}

.number-area dl dd:nth-child(4):before {
    content: '';
    position: absolute;
    top: -50%;
    bottom: -50%;
    left: -50%;
    right: -50%;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    border-right: 0 solid #515151;
    border-top: 1px solid #515151;
}

.oui-class-radio {
    display: box;
    display: -webkit-box;
    display: -moz-box;
}

.oui-class-radio > div {
    /*box-flex:1;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    position: relative;*/
    display: inline-block;
    position: relative;
}

/*
新改datepicker*/

.oui-class-datepicker .form-date, .oui-class-datepicker-1 .form-date {
    width: 55%;
    padding-left: .05rem !important;
    display: inline-block;
    line-height: .28rem;
}

.oui-class-datepicker .form-time, .oui-class-datepicker-1 .form-time {
    width: 40%;
    padding-left: .05rem !important;
    display: inline-block;
    margin-left: 5%;
    line-height: .28rem;
}

/*.oui-class-datepicker span,.oui-class-datepicker-1 span{*/
/*width: 5%;*/
/*font-size: 1.6rem;*/
/*text-align: center;*/
/*line-height: 30px;*/
/*display: inline-block;*/
/*position: absolute;*/
/*left: 55%;*/
/*color: #666666;*/
/*}*/

/** 杨海加 ****************/
.oui-class-seperateline hr {
    border: 0;
    border-top: 1px solid #bbbbbb;
}

/**
 * 弹出查询框
 */
.single-select-search,
.multi-select-search{
    width: 100%;
    border:1px solid #e6e6e6;
    -webkit-border-radius: .03rem;
    -moz-border-radius: .03rem;
    border-radius: .03rem;
    padding: .04rem;
    padding-left: .34rem;
    position: relative;
}
.single-select-search .inputSearch,
.multi-select-search .inputSearch{
    width: 100%;
    height: .24rem;
    line-height: .24rem;
    border: 0;
    font-size: .14rem;
    color: #515151;
    outline: none;
}
.single-select-search .single-select-search-icon,
.multi-select-search .multi-select-search-icon{
    background: url("../images/singleSelect-search-icon.png") no-repeat;
    background-size: .2rem .2rem;
    width: .2rem;
    height: .2rem;
    position: absolute;
    top: .07rem;
    left: .07rem;
}
.single-select-search-ul,
.multi-select-search-ul{
    text-align: left;
    margin-top: .1rem;
    height:1.6rem;
    overflow-y: auto;
}
.single-select-search-ul li,
.multi-select-search-ul li{
    padding: .04rem 0;
}

.single-select-search-ul li label,
.multi-select-search-ul li label{
    width: 100%;
    display: block;
}
.single-select-current,
.multi-select-current{
    text-align: left;
    color: #777777;
    font-size: .14rem;
    margin-top: .1rem;
}
.single-select-current .single-select-display,
.multi-select-current .multi-select-display{
    color: #2C82FC;
    margin-left: .03rem;
    font-weight: 700;
}
.single-select-serach-nothing,
.multi-select-serach-nothing{
    width: 100%;
    margin-top: 10px;
    font-size: .16rem;
    color: #515151;
    display: block;
    text-align: center;
}

/*开关改造的样式*/
.oui-checkbox.middle.oui-checkbox-1, .oui-checkbox.middle.oui-checkbox-1 .checkbox{
    width: 20px;
    height: 20px;
    border-radius: 2px;
}
.oui-checkbox-1 input[type=checkbox]+ .checkbox {
    display: inline-block;
    background: #FFF;
    border: 1px solid #aab2bd;
    -webkit-transition: background 0.28s ease;
    -o-transition: background 0.28s ease;
    transition: background 0.28s ease;
}
.oui-checkbox-1 input[type=checkbox]:checked + .checkbox{
    background: #2C82FC;
    border-color: #2C82FC;
}
.oui-checkbox-1 .checkbox:after{
    background: none;
    top: 0px;
    left: -2px;
    width: .06rem;
    height: .11rem;
    border: .02rem solid transparent;
    -webkit-transform: rotate(43deg) !important;
    -ms-transform: rotate(43deg) !important;
    -o-transform: rotate(43deg) !important;
    transform: rotate(43deg) !important;
    -webkit-transform-origin: 100% 100%;
    -moz-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
    -webkit-box-shadow: 0 0px 0px rgba(0, 0, 0, 0);
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0);
}
.oui-checkbox.middle.oui-checkbox-1 .checkbox:after{
    top: 0px;
    left: -2px;
    width: .06rem;
    height: .11rem;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;;
    border-bottom-color: #FFF;
    border-right-color: #FFF;
}
.oui-checkbox.middle.oui-checkbox-1 input[type=checkbox]:checked + .checkbox:after {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
}
.oui-checkbox-1 .checkbox:before{
    display: none;
}
.oui-checkbox.oui-checkbox-1 .checkbox{
    background: #2C82FC;
    border-color: #2C82FC;
}

/*
手机验证*/
.oui-cellphone-check{
    width: 100%;
    margin-top: .1rem;
    display: -webkit-box;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
}
.oui-cellphone-check input.oui-cellphone-validate-code{
    min-height: 36px;
    line-height: 24px;
    padding: 0 5px;
    border: 1px solid rgba(0, 0, 0, .2);
    outline: none;
    font-size: 14px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    vertical-align: top;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
.oui-cellphone-check input:focus{
    border-color: #2C82FC;
}
.oui-cellphone-check .check-msg-code{
    width: 56%;
}
.oui-cellphone-check .oui-cellphone-resend-btn,.oui-cellphone-check .oui-cellphone-resend{
    width: 40%;
    background: #2C82FC;
    color: #ffffff;
    min-height: 36px;
    line-height: 24px;
    padding: 0 5px;
    border: 0;
    outline: none;
    font-size: 14px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin-left: 4%;
    cursor: pointer;
    text-align: center;
}
.oui-cellphone-check .oui-cellphone-resend{
    background: #bdbdbd;
    line-height: 36px;
}
.oui-cellphone-check .oui-cellphone-resend .timeout{
    font-weight: 500;
}
/*省市区控件--开始*/
.oui-class-address,
.oui-class-address-1,
.oui-class-address-2,
.oui-class-address-3,
.oui-class-address-4{
    font-size: 0;
}
.oui-class-address .oui-class-singleselect,
.oui-class-address-1 .oui-class-singleselect,
.oui-class-address-2 .oui-class-singleselect,
.oui-class-address-3 .oui-class-singleselect,
.oui-class-address-4 .oui-class-singleselect{
    min-height: 1px;
    display: inline-block !important;
    vertical-align: top;
}
.oui-class-address .oui-class-singleselect:nth-child(2),
.oui-class-address .oui-class-singleselect:nth-child(3),
.oui-class-address-1 .oui-class-singleselect:nth-child(2),
.oui-class-address-1 .oui-class-singleselect:nth-child(3),
.oui-class-address-2 .oui-class-singleselect:nth-child(2),
.oui-class-address-2 .oui-class-singleselect:nth-child(3){
    width: 49%;
}
.oui-class-address .oui-class-singleselect:nth-child(4),
.oui-class-address-1 .oui-class-singleselect:nth-child(4){
    width: 100%;
    margin-top: 6px;
}
.oui-class-address .oui-class-singleselect:nth-child(2),
.oui-class-address-1 .oui-class-singleselect:nth-child(2),
.oui-class-address-2 .oui-class-singleselect:nth-child(2){
    margin-right: 2%;
}

.oui-class-address-3 .oui-class-singleselect,
.oui-class-address-4 .oui-class-singleselect{
    width: 100%;
}
.oui-class-address .oui-class-textfield{
    width: 100%;
    margin-top: 6px;
}
/*省市区控件--结束*/
.oui-class-serialnumber input{
    background: #f5f5f5;
    pointer-events: none;
}
/*处理意见--开始*/
.oui-class-handlesuggestion{
    width: 100%;
    position: relative;
    font-size: 0;
}
.oui-class-handlesuggestion .oui-handlesuggestion{
    width: 100%;
    min-height: .7rem;
    max-height: 1.8rem;
    padding: .03rem;
    -webkit-user-select: text;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: .02rem;
    font-size: .14rem;
    position: relative;
    color: #444444;
    font-family: Microsoft Yahei, "Helvetica Neue", Helvetica, sans-serif;
    overflow: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling : touch;
}
.oui-handlesuggestion ul{
    display: block;
    margin: 0;
    padding: 0;
}
.oui-handlesuggestion ul li{
    display: block;
    padding: .08rem .05rem;
    text-align: left;
    border-bottom: 1px dashed rgba(0, 0, 0, .2);
}
.oui-handlesuggestion ul li .handlesuggestion-name{
    display: inline-block;
    color: rgba(81,81,81,.8);
    margin-right: .05rem;
}
.oui-handlesuggestion ul li .handlesuggestion-time{
    display: inline-block;
    color: rgba(81,81,81,.8);
}
.oui-handlesuggestion ul li .handlesuggestion-info{
    display: block;
    color: rgba(81,81,81,1);
    word-break: break-all;

}
/*处理意见--结束*/
/*控件关联--开始*/
.oui-relation-readOnly{
    display: block;
    position: relative;
}

.oui-relation-readOnly .oui-relation{
    width: 100%;
    min-height: .4rem;
    line-height: .38rem;
    padding: 0 .05rem 0 .31rem;
    font-size: .14rem;
    border: 1px solid #e6e6e6;
    -webkit-border-radius: .03rem;
    -moz-border-radius: .03rem;
    border-radius: .03rem;
}
.oui-relation-readOnly .oui-relation-icon{
    background: url("../images/oui-relation-icon.png") left.04rem center no-repeat;
    background-size: .23rem auto;
    width: .31rem;
    display: block;
    position: absolute;
    left: 1px;
    top: 0;
    bottom: 0;
    cursor: pointer;
}
.oui-class-singleselect-5 .oui-relation{
    border: 0;
}
.oui-edit4ReadOnly.oui-relation-readOnly .oui-relation{
    min-height: auto;
    line-height: normal;
    border: 0;
}
/*控件关联--结束*/
/*删除图标*/
.form-delete-info{
    background: url(../images/delete-info.png) center no-repeat;
    background-size: .16rem .16rem;
    width: .28rem;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: .01rem;
    z-index: 1;
    display: none;
}
/*扫码图标*/
.form-scanCode-info{
    background: url("../images/scanCode-icon.png") #ffffff center no-repeat;
    background-size: .24rem .24rem;
    width: .31rem;
    position: absolute;
    top: .01rem;
    bottom: .01rem;
    left: .01rem;
    z-index: 1;
}
.form-scanCode-info + input.oui-form{
    padding-left: .35rem !important;
}
/*多选dialog*/
.html-dialog-multiSelect{
    width: 100%;
    position: relative;
}
.html-dialog-multiSelect dl{
    display: block;
}
.html-dialog-multiSelect dl dd {
    padding: .05rem .18rem;
    padding-left: 0;
    position: relative;
    color: #515151;
    display: block;
    text-align: left;
    font-size: .16rem;
    -webkit-box-align: center;
    -moz-box-align: center;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    display: -webkit-box;
}
.html-dialog-multiSelect dl dd.selected{
    background: none;
}
.html-dialog-multiSelect dl dd:after {
    color: #e6e6e6;
    content: " ";
    width: 100%;
    left: 0;
    bottom: 0;
    border-bottom: 1px solid;
    position: absolute;
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5);
}
.html-dialog-multiSelect dl dd i:nth-child(1){
    height: .36rem;
    line-height: .36rem;
    font-style: normal;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
.html-dialog-multiSelect dl dd i.selected-icon{
    background: url(../images/selected-icon.png) no-repeat;
    background-size: .2rem .15rem;
    width: .2rem;
    height: .15rem;
    position: absolute;
    font-style: normal;
    right: .08rem;
    top: 50%;
    margin-top: -.08rem;
    z-index: 2;
    display: none;
}
.html-dialog-multiSelect dl dd.selected i.selected-icon{
    display: block;
}
/*单图片控件--开始*/
.oui-class-img{
    width: 100%;
    height: 100%;
    text-align: center;
    display: table;
}
.oui-class-img .oui-img-content{
    width: 100%;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
.oui-img-content img{
    max-width: 100%;
    max-height: 100%;
    vertical-align: top;
}
/*单图片控件--结束*/
/*图片组*/
.oui-class-imagegroup .swiper-container .swiper-wrapper .swiper-slide img,
.oui-class-imagegroup-1 .swiper-container .swiper-wrapper .swiper-slide img,
.oui-class-imagegroup-2 .swiper-container .swiper-wrapper .swiper-slide img{
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border: 0;
}
.oui-class-imagegroup .swiper-container-horizontal .swiper-img-text,
.oui-class-imagegroup-1 .swiper-container-horizontal .swiper-img-text,
.oui-class-imagegroup-2 .swiper-container-horizontal .swiper-img-text{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    line-height: 1.4;
    font-size: 14px;
    text-align: center;
    color: #ffffff;
    background: rgba(0,0,0,.4);
    display: block;
    padding: 8px 10px;
    word-wrap: break-word;
    word-break: normal;
}
.oui-class-imagegroup .swiper-container-horizontal > .swiper-pagination-bullets,
.oui-class-imagegroup-1 .swiper-container-horizontal > .swiper-pagination-bullets,
.oui-class-imagegroup-2 .swiper-container-horizontal > .swiper-pagination-bullets{
    bottom: 0;
}
/*外部控件--开始*/
.oui-class-outercontrol{
    position: relative;
}
.oui-class-outercontrol .outercontrol-btn,
.oui-class-outercontrol .outercontrol-search{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: .31rem;
    height: .4rem;
    font-size: 0;
    position: absolute;
    top: 0;
    outline: none;
    border: 0;
    cursor: pointer;
    z-index: 101;
}
.oui-class-outercontrol .outercontrol-btn{
    background: url("../images/outercontrol-btn.png") transparent .04rem center no-repeat;
    background-size: .24rem .24rem;
    left: 0;
}
.oui-class-outercontrol .outercontrol-search{
    background: url("../images/search-icon.png") transparent .04rem center no-repeat;
    background-size: .24rem .24rem;
    right: 0;
}
.oui-class-outercontrol .form-delete-info{
    height: .4rem;
    bottom: inherit;
    right: 0;
    z-index: 101;
}
.oui-class-outercontrol input[type="text"] {
    width: 100%;
    height: .4rem;
    line-height: .33rem;
    padding: 0 .03rem 0 .31rem !important;
    border: 1px solid #e6e6e6;
    outline: none;
    font-size: .14rem;
    -webkit-border-radius: .03rem;
    -moz-border-radius: .03rem;
    border-radius: .03rem;
    position: relative;
    z-index: 99;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.oui-class-outercontrol input[type="text"]:focus{
    border-color: #2C82FC;
}
.oui-class-outercontrol input[type="text"]:read-only{
    border-color: #e1e1e1;
}
.oui-class-outercontrol input[type="text"]:disabled{
    border-color: #e6e6e6;
    background: #fdfdfd;
}
.oui-class-outercontrol .outercontrol-select-mask{
    background: transparent;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    display: none;
}
.oui-class-outercontrol .outercontrol-select{
    background: #ffffff;
    display: block;
    padding: .05rem 0;
    padding-top: 0;
    position: absolute;
    top: .4rem;
    left: 0;
    right: 0;
    z-index: 103;
    border-radius: .03rem;
    -webkit-box-shadow: 0 1px .06rem 0 rgba(0,0,0,.3);
    box-shadow: 0 1px .06rem 0 rgba(0,0,0,.3);
    height: 0;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    /*-webkit-transition: all .3s ease-in-out;*/
    /*-moz-transition: all .3s ease-in-out;*/
    /*-ms-transition: all .3s ease-in-out;*/
    /*-o-transition: all .3s ease-in-out;*/
    /*transition: all .3s ease-in-out;*/
}
.oui-class-outercontrol.show-select .outercontrol-select{
    opacity: 1;
    visibility: visible;
    padding: .05rem .03rem;
    height: auto;
}
.oui-class-outercontrol.show-select .outercontrol-select-mask{
    display: block;
}
.outercontrol-select ul{
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
    max-height: 1.8rem;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}
.outercontrol-select ul li{
    display: block;
    padding: 0 .05rem;
    height: .36rem;
    line-height: .36rem;
    font-size: .14rem;
    color: #515151;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.outercontrol-select ul li:hover{
    background: #e1e1e1;
    cursor: pointer;
}
/*外部控件--开始*/
/*手写签名--开始*/
.oui-class-signature .signature-inner img{
    display: block;
    vertical-align: top;
}
.oui-class-signature .signature-inner.signature-inner-result{
    width: 100%;
    height: .8rem;
    padding: 0;
    margin-bottom: .05rem;
    display: inline-block;
    vertical-align: top;
    position: relative;
    text-align: center;
    overflow: hidden;
    border: 1px solid #bdbdbd;
    -webkit-border-radius: .03rem;
    -moz-border-radius: .03rem;
    border-radius: .03rem;
}
.oui-class-signature .signature-inner.signature-inner-result img{
    max-width: 100%;
    height: 100%;
    margin: 0 auto;
    vertical-align: top;
    /*position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    max-width: 100%;
    max-height: 300%;*/
}
.oui-class-signature button.button{
    background: #F2F2F2;
    width: 100%;
    height: .4rem;
    line-height: .4rem;
    font-size: .14rem;
    color: #2C82FC;
    border: 0;
    outline: none;
    cursor: pointer;
}
.oui-class-signature button.button .signature-button-icon{
    background: url("../images/icon-signature.svg") left center no-repeat;
    background-size: .18rem .18rem;
    width: .22rem;
    height: .4rem;
    display: inline-block;
    vertical-align: top;
}
.signature-delete-icon{
    background: url("../images/delete-info.png") #ffffff no-repeat;
    background-size: .18rem auto;
    width: .18rem;
    height: .18rem;
    -webkit-border-radius: .1rem;
    -moz-border-radius: .1rem;
    border-radius: .1rem;
    display: none;
    position: absolute;
    top: 50%;
    right: .08rem;
    z-index: 1;
    margin-top: -.09rem;
}
.signature-inner.signature-inner-result .signature-delete-icon{
    display: inline-block;
    cursor: pointer;
}
/*手写签名--结束*/





