<!-- 找回密码页面 -->
<template>
    <div id="login">
        <!-- reg背景图大盒子 -->
        <div class="loginBox">
            <!-- 内容 -->
            <div class="content">
                <!-- 注册 -->
                <div class="inContent">
                    <div class="regTitle">找回密码</div>
                    <div>
                        <el-form :model="resetPasswordForm" :rules="rules" ref="resetPasswordForm" class="demo-resetPasswordForm">
                            <el-form-item prop="phone" class="phoneNumber">
                                <el-select v-model="resetPasswordForm.region" placeholder="+86">
                                    <el-option label="区域一" value="shanghai"></el-option>
                                    <el-option label="区域二" value="beijing"></el-option>
                                </el-select>
                                <el-input v-model="resetPasswordForm.phone" placeholder="11位手机号"></el-input>
                            </el-form-item>
                            <!-- 验证码 -->
                            <el-form-item prop="smsVerificationCode">
                                <el-input class="VerificationCode" placeholder="验证码" v-model="resetPasswordForm.smsVerificationCode" prefix-icon="el-icon-lock"></el-input>
                                <button type="button" class="sendCode" @click="sendCodeClick" id="countdown" :disabled="sendCodeDisabled">发送验证码
                                </button>
                            </el-form-item>
                            <!-- 滑块 -->
                            <el-form-item prop="email">
                                <div class="sliderBox"></div>
                            </el-form-item>
                            <el-form-item prop="newPassword">
                                <el-input v-model="resetPasswordForm.newPassword" placeholder="请输入新密码"></el-input>
                            </el-form-item>

                            <!-- <img src="/res_startwe/assets/lock.png" alt="" class="password"> -->
                            <el-form-item prop="passwordAgain">
                                <el-input v-model="resetPasswordForm.confirmPassword" placeholder="请再次输入新密码" show-password></el-input>
                            </el-form-item>
                            <!-- 注册按钮 -->
                            <div class="regBtn">
                                <div class="">
                                    <el-button @click="resetPasswordSubmit">重置密码</el-button>
                                </div>
                                <div class="existence" @click="toAccountLoginPage">
                                    使用已有帐户登录
                                </div>
                            </div>
                        </el-form>

                    </div>
                </div>

            </div>
        </div>
    </div>
</template>
<script>
    export default {
        templateType: 'vue',
        el: 'home',
        data: function () {
            var validator = (rule,value, callback) => {
                if (/^1[345789]\d{9}$/.test(value) == false) {
                    callback(new Error("请输入正确的手机号"));
                    this.sendCodeDisabled = true;
                }else if (value === '') {
                    callback(new Error('请输入手机号码'));
                    this.sendCodeDisabled = true;
                } else {
                    callback();
                    this.sendCodeDisabled = false;
                }
            };
            var validatePass2 = (rule, value, callback) => {
                if (value === '') {
                    callback(new Error('请再次输入密码'))
                } else if (value !== this.resetPasswordForm.newPassword) {
                    callback(new Error('两次输入密码不一致!'))
                } else {
                    callback()
                }
            };
            return {
                //获取验证码的按钮启用禁用状态
                sendCodeDisabled: true,
                num: 0,
                showSlider: false,
                checkClick: 0,
                resetPasswordForm: {
                    phone: '',
                    smsVerificationCode: '',
                    newPassword: '',
                    confirmPassword: ''
                },
                rules: {
                    newPassword: [
                        { required: true, message: '请输入新密码', trigger: "blur" },
                        { pattern: /^(?![0-9]+$)(?![a-zA-Z]+$)[0-9A-Za-z]{6,18}$/, message: '密码须包含数字、字母两种元素，且密码位数为6-16位' }
                    ],
                    confirmPassword: [
                        { required: true, validator: validatePass2, trigger: 'blur' },
                        { min: 2, max: 20, message: '长度在 6 到 18 个字符', trigger: 'blur' }
                    ],
                    phone: [
                        { validator: validator, trigger: 'blur'}
                    ],
                    smsVerificationCode: [
                        { required: true, message: '请输入手机短信验证码', trigger: 'blur' },
                        { min: 6, max: 6, message: '请输入6位手机短信验证码', trigger: 'blur' }
                    ]
                },
            }
        },
        created() {
        },
        mounted: function () {

            if (this.loading) {
                return;
            }
            if (!this.loading) {
                this.loading = true;
            }

        },
        methods: {
            resetPasswordSubmit: function () {
                var that = this;
                this.$refs["resetPasswordForm"].validate((valid) => {
                    if (valid) {
                        oui.ajaxPost('login/account/userResetPassword', {
                            "phone": this.resetPasswordForm.phone,
                            "smsVerificationCode": this.resetPasswordForm.smsVerificationCode,
                            "newPassword": this.resetPasswordForm.newPassword,
                            "confirmPassword": this.resetPasswordForm.confirmPassword,
                            "projectId": "startwe"
                        }, function (res) {
                            that.$message.success('密码重置成功，请登录！');
                            oui.router.push('/res_startwe/html/login.vue.html')
                        }, function (res) {
                            that.$message.error(res.message);
                        })
                    } else {
                        this.$message.error('内容未填写完整，请检查修改后重新提交');
                        return false;
                    }
                });
            },
            //跳转到登录页面
            toAccountLoginPage: function () {
                oui.router.push('/res_startwe/html/login.vue.html')
            },
            loadMenus: function () {
                //var path = oui_context.checkUrl;
                var me = this;
                var path = oui_context.checkUrl;
                var userId = oui.cookie("userId");
                var tokenId = oui.cookie("tokenId");
                var loadMenusUrl = this.$router.query.loadMenusUrl;

                var iframeId = oui.getParam('iframeId');
                oui.getData(path, {
                    userId: userId,
                    tokenId: tokenId
                }, function (res) {
                    // 缓存当前人的菜单数据
                    oui.storage.set('startwe_menus', oui.parseString(res.menus));
                    oui.router.push('res_startwe/html/index.vue.html');
                });

            },
            login: function () {
                // console.log(11111);
                var path = oui.getContextPath() + 'com.oursui.models.account.web.AccountController.login.biz';
                var me = this;
                var param = {
                    name: this.resetPasswordForm.name,
                    pass: this.resetPasswordForm.password
                };
                oui.postData(path, param, function (res) {
                    console.log(res);

                    if (res.success) {
                        setTimeout(function () {
                            var msg = res.msg;

                            var tokenId = res.tokenId;
                            var userId = res.userId;
                            oui.cookie('tokenId', tokenId, 30);
                            oui.cookie('userId', userId);
                            oui.cookie('userName', res.userName);
                            me.loadMenus();
                        }, 200);
                    } else {
                        oui.getTop().oui.alert(res.msg);
                    }
                }, function (err) {
                    oui.getTop().oui.alert(err);
                }, '登陆中...')
            },
            // 登录框导航切换
            spanClick: function (index) {
                // console.log(index);
                var that = this;
                that.checkClick = index;
            },
            // 注册切换 
            registerClick: function () {

            },
            // 验证码发送按钮{}
            sendCodeClick: function () {
                // console.log(1111);
                // this.showSlider = true;
                var me = this;
                oui.require([
                    oui.getContextPath() + 'res_common/oui/system/oui-verify.js',
                    oui.getContextPath() + 'res_common/oui/med.min.js'
                ], function () {
                    me.$nextTick(function () {
                        oui.showVerifyHtml({
                            showType: 1,
                            container: '.sliderBox',
                            userId: oui.cookie('userId'),
                            onSuccess: function () {
                                if (me.resetPasswordForm.phone == null
                                    || me.resetPasswordForm.phone.trim() == "") {
                                    me.$message.error("请输入手机号码");
                                } else {
                                    //点击了按钮后要开始倒计时
                                    let time = 60;
                                    //并且按钮不能再按
                                    me.sendCodeDisabled = true;
                                    //按钮中字符变化
                                    $("#countdown").html(time);
                                    //每过一秒钟都要执行function函数
                                    let timer = setInterval(function () {
                                        time--;
                                        if (time == 0) {
                                            $("#countdown").html("重发短信");
                                            me.sendCodeDisabled = false;
                                            //结束定时器
                                            clearInterval(timer);
                                        } else {
                                            $("#countdown").html(time + "秒后重发");
                                        }
                                    }, 1000);
                                    oui.ajaxPost('login/verification/sendSMSVerifyCode', {
                                        "phone": me.resetPasswordForm.phone,
                                        "type" : "reset"
                                    }, function (res) {
                                        me.$message.success('手机验证码发送成功，请收到短信后再十分钟之内进行操作！');
                                    }, function (res) {
                                        me.$message.error(res.message);
                                    });
                                }
                            }
                        });

                    });
                });

            }
        }
    }

</script>
<style>
    html {
        width: 100%;
        height: 100%;
        background-color: #999;
    }

    * {
        padding: 0;
        margin: 0;
        list-style-type: none;
        background-repeat: no-repeat;
        font-size: 14px;
        border: none;
    }

    body {
        width: 100%;
        height: 100%;
        background-size: cover
    }

    /* element样式修改 */

    .demo-resetPasswordForm {
        position: relative;
    }

    .el-button--info {
        background-color: #F4F4F4;
        color: #999;
        border-color: #F4F4F4;
    }

    .el-button {
        width: 100%;
        font-size: 16px;
    }

    .el-input__inner {
        background-color: #F4F4F4;
    }

    .el-select .el-input__inner {
        background-color: #fff;
    }

    /* 挂载对象盒子 最外层 */

    #login {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    /* 登录盒子 */

    .loginBox {
        width: 956px;
        height: 628px;
        background: url(/res_startwe/assets/box.png) no-repeat;
        background-size: 100%;
        position: relative;
    }

    .content {
        width: 50%;
        position: absolute;
        right: 40px;
        top: 30px;
    }

    .inContent {
        margin-top: 100px;
        width: 70%;
        margin: auto;
    }

    .sendCode {
        width: 35%;
        height: 38px;
        border: 1px solid #999;
        text-align: center;
        line-height: 38px;
        border-radius: 2px;
        outline: none;
        background-color: #fff;
        margin-left: 20px;
    }

    /* 注册 */

    .regTitle {
        font-size: 16px;
        color: rgba(0, 0, 0, 0.85);
        line-height: 24px;
        margin-top: 70px;
        font-weight: bold;
        margin-bottom: 20px;
    }

    .el-form-item__content {
        display: flex;
    }

    .el-select {
        width: 30%;
    }

    .regBtn {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
    }

    .el-button {
        background: #EA4A43;
        border-radius: 2px;
        color: #fff;
        width: 176px;
        height: 40px;
        letter-spacing: 5px;
    }

    .el-button:focus,
    .el-button:hover {
        color: #fff;
        border-color: #EA4A43;
        background-color: #EA4A43;
    }

    .existence {
        font-size: 14px;
        color: #EA4A43;
        line-height: 40px;
    }
</style>