<!--单选组-->
<template>
    <mt-radio
            title="单选框列表"
            v-model="value"
            :options="data"
            :tempStyle="style"
            :id="id"
            :name="name"
            :bindProp="bindProp"
            :class="cls"
            :placeholder="placeholder">
    </mt-radio>
</template>

<script>
    exports = {
        templateType: 'vue',
        data: function()
        {
            return {
                id: '',
                name: '',
                data: ['选项A', '选项B', '选项C'],
                bindProp: '',
                value: '',
                style: '',
                cls: '',
                placeholder: ''
            }
        },
        methods: {
            _controlOnUpdate: function(v, ov)
            {
                var key = this.bindProp;
                this.onUpdate && this.onUpdate(key, v, ov, {value: v, data4DB: v, display: v}); //外部构造的方法调用
            }
        }
    }
</script>

<style>

</style>