<!-- 文本按钮 -->
<template>
    <mt-button
            plain
            type="primary"
            :tempStyle="style"
            :title="title"
            :id="id"
            :bindProp="bindProp"
            :class="cls"
            v-model="title"
            @click="event2click"
            :placeholder="placeholder"
            :icon="iconCls">
        {{title}}
    </mt-button>
</template>

<script>
    exports = {
        templateType: 'vue',
        data: function()
        {
            return {
                id: '',
                name: '',
                data: {},
                bindProp: '',
                style: '',
                cls: '',
                placeholder: '',
                iconCls: '',
                title: ''
            }
        },
        mounted: function()
        {
        },
        methods: {
            event2click: function()
            { //icon图标点击事件
                this.onClick && this.onClick(); //外部构造的方法调用,组件内部不能实现 onClick,而是由外部传入组件方法
            }
        }
    }
</script>

<style>

</style>