@charset "UTF-8";
.icons {
  font-style:normal;
  font-family:"iconfont" !important;
  -webkit-font-smoothing: antialiased;
  /*-webkit-text-stroke-width: 0.2px;*/
  -moz-osx-font-smoothing: grayscale;
}
/*** 字体图标 特殊字体大小配置  开始 **/
/***/.form-icon-shezhi-34:before { font-size:34px;   content: "\e61e";  } 

/***/.form-icon-guanbi-12:before { font-size:12px;   content: "\e60c";  }

/*14x14字体图标，用在左右切换属性导航栏中*/
.form-icon-fenlei-14:before { font-size:14px;   content: "\e60a";  } 
.form-icon-gaoji-14:before { font-size:14px;   content: "\e611";    margin-right: 5px;}
.form-icon-shezhi-15:before { font-size:15px;   content: "\e61e";  } 
.form-icon-dingwei-15:before { font-size:15px;   content: "\e62a";  } 
.form-icon-huabi-14:before { font-size:14px;   content: "\e606";  }
.form-icon-beijing-14:before { font-size:14px;   content: "\e619";  margin-right: 5px; }
 
/*.form-icon-yulan1-20:before { font-size:15px;   content: "\e62f";  }*/
.form-icon-bianji-22:before { font-size:22px;   content: "\e60e";  } 
.form-icon-yuanquan-25:before { font-size:25px;   content: "\e612";  } 
/*** 字体图标 特殊字体大小配置  结束 **/

/**28x28的字体图标**/
.form-icon-biaodan-28:before{ font-size:24px;   content: "\e61b"; }
.form-icon-tongjibaobiao-28:before{ font-size:24px;   content: "\e61a"; }
.form-icon-svg32-28:before{ font-size:24px;   content: "\e616"; }


/*28乘28的字体图标*/

.form-icon-shuxiexf-22:before { font-size:22px; content: "\e601";  }
.form-icon-shuzhi-22:before {  font-size:22px; content: "\e61c"; }
.form-icon-jiaoyu-22:before {  font-size:22px; content: "\e61d"; }
.form-icon-biaoqian-22:before {  font-size:22px; content: "\e602"; }
.form-icon-shezhi-22:before {  font-size:22px; content: "\e61e"; }
.form-icon-diqiu-22:before {  font-size:22px; content: "\e61f"; }
.form-icon-bianji-22:before {  font-size:22px; content: "\e60e"; }
.form-icon-xinjiannew-22:before {  font-size:22px; content: "\e603"; }
.form-icon-gouwuche-22:before {  font-size:22px; content: "\e620"; }
.form-icon-55-22:before {  font-size:22px; content: "\e60f"; }
.form-icon-upload-22:before {  font-size:22px; content: "\e604"; }
.form-icon-gaoji-22:before {  font-size:22px; content: "\e611"; }
.form-icon-yuanquan-22:before {  font-size:22px; content: "\e612"; }
.form-icon-tupian-22:before {  font-size:22px; content: "\e613"; }
.form-icon-shousuo-22:before {  font-size:22px; content: "\e605"; }
.form-icon-fasong-22:before {  font-size:22px; content: "\e621"; }
.form-icon-huabi-22:before {  font-size:22px; content: "\e606"; }
.form-icon-guanbi-22:before {  font-size:22px; content: "\e60c"; }
.form-icon-iconmingchengpaixu68-22:before {  font-size:22px; content: "\e614"; }
.form-icon-wenjuandiaocha-22:before {  font-size:22px; content: "\e622"; }
.form-icon-tubiaodanxuan-22:before {  font-size:22px; content: "\e615"; }
.form-icon-icon5-22:before {  font-size:22px; content: "\e600"; }
.form-icon-svg32-22:before {  font-size:22px; content: "\e616"; }
.form-icon-shang-22:before {  font-size:22px; content: "\e617"; }
.icon-guanbi1-22:before {  font-size:22px; content: "\e610"; }
.form-icon-wendang-22:before {  font-size:22px; content: "\e607"; }
.form-icon-gouwu-22:before {  font-size:22px; content: "\e623"; }
.form-icon-lanqiu-22:before {  font-size:22px; content: "\e624"; }
.form-icon-qiche-22:before {  font-size:22px; content: "\e625"; }
.form-icon-diqiu-22:before {  font-size:22px; content: "\e608"; }
.form-icon-biaodansheji16x16-22:before {  font-size:22px; content: "\e618"; }
.form-icon-beijing-22:before {  font-size:22px; content: "\e619"; }
.form-icon-iconfont55-22:before {  font-size:22px; content: "\e609"; }
.form-icon-fenlei-22:before {  font-size:22px; content: "\e60a"; }
.form-icon-tongjibaobiao-22:before {  font-size:22px; content: "\e61a"; }
.form-icon-xiajiantou-22:before {  font-size:22px; content: "\e60b"; }
.form-icon-vip-22:before {  font-size:22px; content: "\e626"; }
.form-icon-bi40qietufuzhi-22:before {  font-size:22px; content: "\e627"; }
.form-icon-liwu-22:before {  font-size:22px; content: "\e628"; }
.form-icon-biaodan-22:before {  font-size:22px; content: "\e61b"; }
.form-icon-wenjuandiaocha1-22:before {  font-size:22px; content: "\e629"; }
.form-icon-wenbensousuo-22:before {  font-size:22px; content: "\e60d"; }


/**16x16的字体图标**/ 
/**书写新建*/.form-icon-shuxiexf-16:before { font-size:16px;   content: "\e601";  } 
/***/.form-icon-shuzhi-16:before { font-size:16px;   content: "\e61c";  } 
/***/.form-icon-jiaoyu-16:before { font-size:16px;   content: "\e61d";  } 
/*只有16号**/.form-icon-hricon44-16:before { font-size:16px;   content: "\e630";  } 

/*只有16号**/.form-icon-fenxiang-16:before { font-size:16px;   content: "\e631";  } 
/***/.form-icon-biaoqian-16:before { font-size:16px;   content: "\e602";  }
/***/.form-icon-shezhi-16:before { font-size:16px;   content: "\e61e";  } 
/***/.form-icon-diqiu-16:before { font-size:16px;   content: "\e61f";  } 
/***/.form-icon-bianji-16:before { font-size:16px;   content: "\e60e";  } 
/***/.form-icon-xinjiannew-16:before { font-size:16px;   content: "\e603";  } 
/***/.form-icon-gouwuche-16:before { font-size:16px;   content: "\e620";  } 
/***/.form-icon-55-16:before { font-size:16px;   content: "\e60f";  } 
/***/.form-icon-upload-16:before { font-size:16px;   content: "\e604";  } 
/***/.form-icon-gaoji-16:before { font-size:16px;   content: "\e611";  } 
/***/.form-icon-yuanquan-16:before { font-size:16px;   content: "\e612";  } 
/***/.form-icon-tupian-16:before { font-size:16px;   content: "\e613";  } 
/***/.form-icon-shousuo-16:before { font-size:16px;   content: "\e605";  } 
/***/.form-icon-fasong-16:before { font-size:16px;   content: "\e621";  } 
/***/.form-icon-huabi-16:before { font-size:16px;   content: "\e606";  } 
/***/.form-icon-guanbi-16:before { font-size:16px;   content: "\e60c";  } 
/***/.form-icon-iconmingchengpaixu68-16:before { font-size:16px;   content: "\e614";  } 
/***/.form-icon-wenjuandiaocha-16:before { font-size:16px;   content: "\e622";  } 
/***/.form-icon-tubiaodanxuan-16:before { font-size:16px;   content: "\e615";  } 
/***/.form-icon-icon5-16:before { font-size:16px;   content: "\e600";  } 
/***/.form-icon-svg32-16:before { font-size:16px;   content: "\e616";  } 
/***/.form-icon-shang-16:before { font-size:16px;   content: "\e617";  } 
/***/.form-icon-close-16:before { font-size:16px;   content: "\e610";  } 
/***/.form-icon-wendang-16:before { font-size:16px;   content: "\e607";  } 
/***/.form-icon-gouwu-16:before { font-size:16px;   content: "\e623";  } 
/***/.form-icon-lanqiu-16:before { font-size:16px;   content: "\e624";  } 
/***/.form-icon-qiche-16:before { font-size:16px;   content: "\e625";  } 
/***/.form-icon-diqiu-16:before { font-size:16px;   content: "\e608";  } 
/***/.form-icon-biaodansheji16x16-16:before { font-size:16px;   content: "\e618";  } 
/***/.form-icon-beijing-16:before { font-size:16px;   content: "\e619";  } 
/***/.form-icon-iconfont55-16:before { font-size:16px;   content: "\e609";  } 
/***/.form-icon-fenlei-16:before { font-size:16px;   content: "\e60a";  } 
/***/.form-icon-tongjibaobiao-16:before { font-size:16px;   content: "\e61a";  } 
/***/.form-icon-xiajiantou-16:before { font-size:16px;   content: "\e60b";  } 
/***/.form-icon-vip-16:before { font-size:16px;   content: "\e626";  } 
/***/.form-icon-bi40qietufuzhi-16:before { font-size:16px;   content: "\e627";  } 
/**礼物*/.form-icon-liwu-16:before { font-size:16px;   content: "\e628";  } 
/***/.form-icon-biaodan-16:before { font-size:16px;   content: "\e61b";  } 
/***/.form-icon-wenjuandiaocha1-16:before { font-size:16px;   content: "\e629";  } 
/***/.form-icon-wenbensousuo-16:before { font-size:16px;   content: "\e60d";  } 
/***/.form-icon-yulan-16:before { font-size:16px;   content: "\e62b";  } 
/***/.form-icon-dingwei-16:before { font-size:16px;   content: "\e62a";  } 
/***/.form-icon-baocun-16:before { font-size:16px;   content: "\e62c";  } 
/***/.form-icon-shoucang-16:before { font-size:16px;   content: "\e62d";  } 
/***/.form-icon-wenben-16:before { font-size:16px;   content: "\e62e";  } 
/**书写新建*/.form-icon-shuxiexf-32:before { font-size:32px;   content: "\e601";  } 
/***/.form-icon-shuzhi-32:before { font-size:32px;   content: "\e61c";  } 
/***/.form-icon-jiaoyu-32:before { font-size:32px;   content: "\e61d";  } 
/***/.form-icon-biaoqian-32:before { font-size:32px;   content: "\e602";  } 
/***/.form-icon-shezhi-32:before { font-size:32px;   content: "\e61e";  } 
/***/.form-icon-diqiu-32:before { font-size:32px;   content: "\e61f";  } 
/***/.form-icon-bianji-32:before { font-size:32px;   content: "\e60e";  } 
/***/.form-icon-xinjiannew-32:before { font-size:32px;   content: "\e603";  } 
/***/.form-icon-gouwuche-32:before { font-size:32px;   content: "\e620";  } 
/***/.form-icon-55-32:before { font-size:32px;   content: "\e60f";  } 
/***/.form-icon-upload-32:before { font-size:32px;   content: "\e604";  } 
/***/.form-icon-gaoji-32:before { font-size:32px;   content: "\e611";  } 
/***/.form-icon-yuanquan-32:before { font-size:32px;   content: "\e612";  } 
/***/.form-icon-tupian-32:before { font-size:32px;   content: "\e613";  } 
/***/.form-icon-shousuo-32:before { font-size:32px;   content: "\e605";  } 
/***/.form-icon-fasong-32:before { font-size:32px;   content: "\e621";  } 
/***/.form-icon-huabi-32:before { font-size:32px;   content: "\e606";  } 
/***/.form-icon-guanbi-32:before { font-size:32px;   content: "\e60c";  } 
/***/.form-icon-iconmingchengpaixu68-32:before { font-size:32px;   content: "\e614";  } 
/***/.form-icon-wenjuandiaocha-32:before { font-size:32px;   content: "\e622";  } 
/***/.form-icon-tubiaodanxuan-32:before { font-size:32px;   content: "\e615";  } 
/***/.form-icon-icon5-32:before { font-size:32px;   content: "\e600";  } 
/***/.form-icon-svg32-32:before { font-size:32px;   content: "\e616";  } 
/***/.form-icon-shang-32:before { font-size:32px;   content: "\e617";  } 
/***/.form-icon-close-32:before { font-size:32px;   content: "\e610";  } 
/***/.form-icon-wendang-32:before { font-size:32px;   content: "\e607";  } 
/***/.form-icon-gouwu-32:before { font-size:32px;   content: "\e623";  } 
/***/.form-icon-lanqiu-32:before { font-size:32px;   content: "\e624";  } 
/***/.form-icon-qiche-32:before { font-size:32px;   content: "\e625";  } 
/***/.form-icon-diqiu-32:before { font-size:32px;   content: "\e608";  } 
/***/.form-icon-biaodansheji16x16-32:before { font-size:32px;   content: "\e618";  } 
/***/.form-icon-beijing-32:before { font-size:32px;   content: "\e619";  } 
/***/.form-icon-iconfont55-32:before { font-size:32px;   content: "\e609";  } 
/***/.form-icon-fenlei-32:before { font-size:32px;   content: "\e60a";  } 
/***/.form-icon-tongjibaobiao-32:before { font-size:32px;   content: "\e61a";  } 
/***/.form-icon-xiajiantou-32:before { font-size:32px;   content: "\e60b";  } 
/***/.form-icon-vip-32:before { font-size:32px;   content: "\e626";  } 
/***/.form-icon-bi40qietufuzhi-32:before { font-size:32px;   content: "\e627";  } 
/**礼物*/.form-icon-liwu-32:before { font-size:32px;   content: "\e628";  } 
/***/.form-icon-biaodan-32:before { font-size:32px;   content: "\e61b";  } 
/***/.form-icon-wenjuandiaocha1-32:before { font-size:32px;   content: "\e629";  } 
/***/.form-icon-wenbensousuo-32:before { font-size:32px;   content: "\e60d";  } 
/***/.form-icon-yulan-32:before { font-size:32px;   content: "\e62b";  } 
/***/.form-icon-dingwei-32:before { font-size:32px;   content: "\e62a";  } 
/***/.form-icon-baocun-32:before { font-size:32px;   content: "\e62c";  } 
/***/.form-icon-shoucang-32:before { font-size:32px;   content: "\e62d";  } 
/***/.form-icon-wenben-32:before { font-size:32px;   content: "\e62e";  } 
/**书写新建*/.form-icon-shuxiexf-48:before { font-size:48px;   content: "\e601";  } 
/***/.form-icon-shuzhi-48:before { font-size:48px;   content: "\e61c";  } 
/***/.form-icon-jiaoyu-48:before { font-size:48px;   content: "\e61d";  } 
/***/.form-icon-biaoqian-48:before { font-size:48px;   content: "\e602";  } 
/***/.form-icon-shezhi-48:before { font-size:48px;   content: "\e61e";  } 
/***/.form-icon-diqiu-48:before { font-size:48px;   content: "\e61f";  } 
/***/.form-icon-bianji-48:before { font-size:48px;   content: "\e60e";  } 
/***/.form-icon-xinjiannew-48:before { font-size:48px;   content: "\e603";  } 
/***/.form-icon-gouwuche-48:before { font-size:48px;   content: "\e620";  } 
/***/.form-icon-55-48:before { font-size:48px;   content: "\e60f";  } 
/***/.form-icon-upload-48:before { font-size:48px;   content: "\e604";  } 
/***/.form-icon-gaoji-48:before { font-size:48px;   content: "\e611";  } 
/***/.form-icon-yuanquan-48:before { font-size:48px;   content: "\e612";  } 
/***/.form-icon-tupian-48:before { font-size:48px;   content: "\e613";  } 
/***/.form-icon-shousuo-48:before { font-size:48px;   content: "\e605";  } 
/***/.form-icon-fasong-48:before { font-size:48px;   content: "\e621";  } 
/***/.form-icon-huabi-48:before { font-size:48px;   content: "\e606";  } 
/***/.form-icon-guanbi-48:before { font-size:48px;   content: "\e60c";  } 
/***/.form-icon-iconmingchengpaixu68-48:before { font-size:48px;   content: "\e614";  } 
/***/.form-icon-wenjuandiaocha-48:before { font-size:48px;   content: "\e622";  } 
/***/.form-icon-tubiaodanxuan-48:before { font-size:48px;   content: "\e615";  } 
/***/.form-icon-icon5-48:before { font-size:48px;   content: "\e600";  } 
/***/.form-icon-svg32-48:before { font-size:48px;   content: "\e616";  } 
/***/.form-icon-shang-48:before { font-size:48px;   content: "\e617";  } 
/***/.form-icon-close-48:before { font-size:48px;   content: "\e610";  } 
/***/.form-icon-wendang-48:before { font-size:48px;   content: "\e607";  } 
/***/.form-icon-gouwu-48:before { font-size:48px;   content: "\e623";  } 
/***/.form-icon-lanqiu-48:before { font-size:48px;   content: "\e624";  } 
/***/.form-icon-qiche-48:before { font-size:48px;   content: "\e625";  } 
/***/.form-icon-diqiu-48:before { font-size:48px;   content: "\e608";  } 
/***/.form-icon-biaodansheji16x16-48:before { font-size:48px;   content: "\e618";  } 
/***/.form-icon-beijing-48:before { font-size:48px;   content: "\e619";  } 
/***/.form-icon-iconfont55-48:before { font-size:48px;   content: "\e609";  } 
/***/.form-icon-fenlei-48:before { font-size:48px;   content: "\e60a";  } 
/***/.form-icon-tongjibaobiao-48:before { font-size:48px;   content: "\e61a";  } 
/***/.form-icon-xiajiantou-48:before { font-size:48px;   content: "\e60b";  } 
/***/.form-icon-vip-48:before { font-size:48px;   content: "\e626";  } 
/***/.form-icon-bi40qietufuzhi-48:before { font-size:48px;   content: "\e627";  } 
/**礼物*/.form-icon-liwu-48:before { font-size:48px;   content: "\e628";  } 
/***/.form-icon-biaodan-48:before { font-size:48px;   content: "\e61b";  } 
/***/.form-icon-wenjuandiaocha1-48:before { font-size:48px;   content: "\e629";  } 
/***/.form-icon-wenbensousuo-48:before { font-size:48px;   content: "\e60d";  } 
/***/.form-icon-yulan-48:before { font-size:48px;   content: "\e62b";  } 
/***/.form-icon-dingwei-48:before { font-size:48px;   content: "\e62a";  } 
/***/.form-icon-baocun-48:before { font-size:48px;   content: "\e62c";  } 
/***/.form-icon-shoucang-48:before { font-size:48px;   content: "\e62d";  } 
/***/.form-icon-wenben-48:before { font-size:48px;   content: "\e62e";  } 
/**书写新建*/.form-icon-shuxiexf-64:before { font-size:64px;   content: "\e601";  } 
/***/.form-icon-shuzhi-64:before { font-size:64px;   content: "\e61c";  } 
/***/.form-icon-jiaoyu-64:before { font-size:64px;   content: "\e61d";  } 
/***/.form-icon-biaoqian-64:before { font-size:64px;   content: "\e602";  } 
/***/.form-icon-shezhi-64:before { font-size:64px;   content: "\e61e";  } 
/***/.form-icon-diqiu-64:before { font-size:64px;   content: "\e61f";  } 
/***/.form-icon-bianji-64:before { font-size:64px;   content: "\e60e";  } 
/***/.form-icon-xinjiannew-64:before { font-size:64px;   content: "\e603";  } 
/***/.form-icon-gouwuche-64:before { font-size:64px;   content: "\e620";  } 
/***/.form-icon-55-64:before { font-size:64px;   content: "\e60f";  } 
/***/.form-icon-upload-64:before { font-size:64px;   content: "\e604";  } 
/***/.form-icon-gaoji-64:before { font-size:64px;   content: "\e611";  } 
/***/.form-icon-yuanquan-64:before { font-size:64px;   content: "\e612";  } 
/***/.form-icon-tupian-64:before { font-size:64px;   content: "\e613";  } 
/***/.form-icon-shousuo-64:before { font-size:64px;   content: "\e605";  } 
/***/.form-icon-fasong-64:before { font-size:64px;   content: "\e621";  } 
/***/.form-icon-huabi-64:before { font-size:64px;   content: "\e606";  } 
/***/.form-icon-guanbi-64:before { font-size:64px;   content: "\e60c";  } 
/***/.form-icon-iconmingchengpaixu68-64:before { font-size:64px;   content: "\e614";  } 
/***/.form-icon-wenjuandiaocha-64:before { font-size:64px;   content: "\e622";  } 
/***/.form-icon-tubiaodanxuan-64:before { font-size:64px;   content: "\e615";  } 
/***/.form-icon-icon5-64:before { font-size:64px;   content: "\e600";  } 
/***/.form-icon-svg32-64:before { font-size:64px;   content: "\e616";  } 
/***/.form-icon-shang-64:before { font-size:64px;   content: "\e617";  } 
/***/.form-icon-close-64:before { font-size:64px;   content: "\e610";  } 
/***/.form-icon-wendang-64:before { font-size:64px;   content: "\e607";  } 
/***/.form-icon-gouwu-64:before { font-size:64px;   content: "\e623";  } 
/***/.form-icon-lanqiu-64:before { font-size:64px;   content: "\e624";  } 
/***/.form-icon-qiche-64:before { font-size:64px;   content: "\e625";  } 
/***/.form-icon-diqiu-64:before { font-size:64px;   content: "\e608";  } 
/***/.form-icon-biaodansheji16x16-64:before { font-size:64px;   content: "\e618";  } 
/***/.form-icon-beijing-64:before { font-size:64px;   content: "\e619";  } 
/***/.form-icon-iconfont55-64:before { font-size:64px;   content: "\e609";  } 
/***/.form-icon-fenlei-64:before { font-size:64px;   content: "\e60a";  } 
/***/.form-icon-tongjibaobiao-64:before { font-size:64px;   content: "\e61a";  } 
/***/.form-icon-xiajiantou-64:before { font-size:64px;   content: "\e60b";  } 
/***/.form-icon-vip-64:before { font-size:64px;   content: "\e626";  } 
/***/.form-icon-bi40qietufuzhi-64:before { font-size:64px;   content: "\e627";  } 
/**礼物*/.form-icon-liwu-64:before { font-size:64px;   content: "\e628";  } 
/***/.form-icon-biaodan-64:before { font-size:64px;   content: "\e61b";  } 
/***/.form-icon-wenjuandiaocha1-64:before { font-size:64px;   content: "\e629";  } 
/***/.form-icon-wenbensousuo-64:before { font-size:64px;   content: "\e60d";  } 
/***/.form-icon-yulan-64:before { font-size:64px;   content: "\e62b";  } 
/***/.form-icon-dingwei-64:before { font-size:64px;   content: "\e62a";  } 
/***/.form-icon-baocun-64:before { font-size:64px;   content: "\e62c";  } 
/***/.form-icon-shoucang-64:before { font-size:64px;   content: "\e62d";  } 
/***/.form-icon-wenben-64:before { font-size:64px;   content: "\e62e";  } 

