.oui-tabs {
    margin: 0 auto;
    padding: 10px;
}

.oui-tabs-head {
    margin-bottom: 15px;
}

.oui-tabs-title {
    margin: 0;
    width: 65px;
    display: inline-block;
    text-align: center;
    color: #222222;
    cursor: pointer;
}

.oui-tabs-active {
    position: absolute;
    border-radius: 3px;
    z-index: -1;
    background-color: rgb(126, 187, 236);
    height: 30px;
}

.oui-tabs-content {
    padding: 0 2px;
}

.oui-tabs-content .oui-edit {
    height: 27px;
    line-height: 27px;
    font-size: 13px;
}

.oui-tabs-content input[type="radio"] {
    position: relative;
    margin-top: 9px;
    margin-right: 4px;
    vertical-align: top;
    border: none;
    background-color: transparent;
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
    outline: none;
}

.oui-tabs-content input[type="radio"]:before {
    content: "";
    display: block;
    position: absolute;
    left: 0px;
    top: -3px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    -webkit-transition: 240ms;
    -o-transition: 240ms;
    transition: 240ms;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
}

.oui-tabs-content input[type="radio"]:checked:before {
    background-color: #2196f3;
    -webkit-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -o-transform: scale(0.5);
    transform: scale(0.5);
}

.oui-tabs-content input[type="radio"]:after {
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    position: relative;
    top: -3px;
    border: 2px solid #666666;
    -webkit-transition: 240ms;
    -o-transition: 240ms;
    transition: 240ms;
}

.oui-tabs-content input[type="radio"]:checked:after {
    border-color: #2196f3;
}

.oui-tabs-content .oui-edit label {
    margin-right: 10px;
    line-height: 100%;
    color: #666666;
    font-size: 13px;
    cursor: pointer;
}

.oui-animated {
    -webkit-animation-duration: .5s;
    animation-duration: .5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes oui-inLeft {
    from, 60%, 75%, 90%, to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    0% {
        opacity: 0;
        -webkit-transform: translate3d(-2000px, 0, 0);
        transform: translate3d(-2000px, 0, 0);
    }

    60% {
        opacity: 1;
        -webkit-transform: translate3d(25px, 0, 0);
        transform: translate3d(25px, 0, 0);
    }

    75% {
        -webkit-transform: translate3d(-10px, 0, 0);
        transform: translate3d(-10px, 0, 0);
    }

    90% {
        -webkit-transform: translate3d(5px, 0, 0);
        transform: translate3d(5px, 0, 0);
    }

    to {
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes oui-inLeft {
    from, 60%, 75%, 90%, to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    0% {
        opacity: 0;
        -webkit-transform: translate3d(-2000px, 0, 0);
        transform: translate3d(-2000px, 0, 0);
    }

    60% {
        opacity: 1;
        -webkit-transform: translate3d(25px, 0, 0);
        transform: translate3d(25px, 0, 0);
    }

    75% {
        -webkit-transform: translate3d(-10px, 0, 0);
        transform: translate3d(-10px, 0, 0);
    }

    90% {
        -webkit-transform: translate3d(5px, 0, 0);
        transform: translate3d(5px, 0, 0);
    }

    to {
        -webkit-transform: none;
        transform: none;
    }
}

.oui-inLeft {
    -webkit-animation-name: oui-inLeft;
    animation-name: oui-inLeft;
}

@-webkit-keyframes oui-inRight {
    from, 60%, 75%, 90%, to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    from {
        opacity: 0;
        -webkit-transform: translate3d(2000px, 0, 0);
        transform: translate3d(2000px, 0, 0);
    }
    60% {
        opacity: 1;
        -webkit-transform: translate3d(-25px, 0, 0);
        transform: translate3d(-25px, 0, 0);
    }

    75% {
        -webkit-transform: translate3d(10px, 0, 0);
        transform: translate3d(10px, 0, 0);
    }

    90% {
        -webkit-transform: translate3d(-5px, 0, 0);
        transform: translate3d(-5px, 0, 0);
    }

    to {
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes oui-inRight {
    from, 60%, 75%, 90%, to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    from {
        opacity: 0;
        -webkit-transform: translate3d(2000px, 0, 0);
        transform: translate3d(2000px, 0, 0);
    }

    60% {
        opacity: 1;
        -webkit-transform: translate3d(-25px, 0, 0);
        transform: translate3d(-25px, 0, 0);
    }

    75% {
        -webkit-transform: translate3d(10px, 0, 0);
        transform: translate3d(10px, 0, 0);
    }

    90% {
        -webkit-transform: translate3d(-5px, 0, 0);
        transform: translate3d(-5px, 0, 0);
    }

    to {
        -webkit-transform: none;
        transform: none;
    }
}

.oui-inRight {
    -webkit-animation-name: oui-inRight;
    animation-name: oui-inRight;
}

@-webkit-keyframes oui-outLeft {
    20% {
        opacity: 1;
        -webkit-transform: translate3d(20px, 0, 0);
        transform: translate3d(20px, 0, 0);
    }

    to {
        opacity: 0;
        -webkit-transform: translate3d(-2000px, 0, 0);
        transform: translate3d(-2000px, 0, 0);
    }
}

@keyframes oui-outLeft {
    20% {
        opacity: 1;
        -webkit-transform: translate3d(20px, 0, 0);
        transform: translate3d(20px, 0, 0);
    }

    to {
        opacity: 0;
        -webkit-transform: translate3d(-2000px, 0, 0);
        transform: translate3d(-2000px, 0, 0);
    }
}

.oui-outLeft {
    -webkit-animation-name: oui-outLeft;
    animation-name: oui-outLeft;
}

@-webkit-keyframes oui-outRight {
    20% {
        opacity: 1;
        -webkit-transform: translate3d(-20px, 0, 0);
        transform: translate3d(-20px, 0, 0);
    }

    to {
        opacity: 0;
        -webkit-transform: translate3d(2000px, 0, 0);
        transform: translate3d(2000px, 0, 0);
    }
}

@keyframes oui-outRight {
    20% {
        opacity: 1;
        -webkit-transform: translate3d(-20px, 0, 0);
        transform: translate3d(-20px, 0, 0);
    }

    to {
        opacity: 0;
        -webkit-transform: translate3d(2000px, 0, 0);
        transform: translate3d(2000px, 0, 0);
    }
}

.oui-outRight {
    -webkit-animation-name: oui-outRight;
    animation-name: oui-outRight;
}

@-webkit-keyframes oui-out {
    from {
        opacity: 1;
    }

    to {
        opacity: 0.25;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }
}

@keyframes oui-out {
    from {
        opacity: 1;
    }

    to {
        opacity: 0.25;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }
}

.oui-out {
    -webkit-animation-duration: .5s;
    animation-duration: .5s;
    -webkit-animation-name: oui-out;
    animation-name: oui-out;
}













