<template>
    <div :style="{height : slbHeight } " class="ppt-control-props-right">
        <oui-include type="module"  url ='res_engine/ppt_design/rightToolbar.vue.html' :data="rightToolbarData"></oui-include>
        <div style="width: 300px;">
            <el-collapse v-model="activeNames" class="property-collapse">
                <el-collapse-item title="时间" name="1">
                    <div class="public-box">
                        <span>文字颜色</span>
                        <div class="text-color-piker">
                            <el-color-picker v-model="textColor" @change="handleTextColorChange"></el-color-picker>
                        </div>
                    </div>
                    <div class="public-box">
                        <span>背景颜色</span>
                        <div class="bgcolor-color-piker">
                            <el-color-picker v-model="backgroundColor" @change="handleTimeBackgroundColorChange"></el-color-picker>
                        </div>
                    </div>
                    <div class="public-box">
                        <span>类型&emsp;&emsp;</span>
                        <div class="public-box-iuput">
                            <el-select v-model="dateType" placeholder="请选择" class="date-type" @change="handleDateTypeChange">
                                <el-option v-for="item in dateTypes" :key="item.value" :label="item.label" :value="item.value">
                                </el-option>
                            </el-select>
                        </div>
                    </div>
                    <div class="public-box" v-if="dateType == 'date'">
                        <span>日期&emsp;&emsp;</span>
                        <div class="public-box-iuput">
                            <el-date-picker
                                    v-model="date"
                                    type="date"
                                    placeholder="选择日期" class="date-type" @change="handleDateChange">
                            </el-date-picker>
                        </div>
                    </div>
                    <div class="public-box" v-if="dateType == 'dateTime'">
                        <span>日期时间</span>
                        <div class="public-box-iuput">
                            <el-date-picker
                                    v-model="dateTime"
                                    type="datetime"
                                    placeholder="选择日期时间" class="date-type" @change="handleDateTimeChange">
                            </el-date-picker>
                        </div>
                    </div>
                    <div class="public-box" v-if="dateType == 'date'">
                        <span>日期格式</span>
                        <div class="public-box-iuput">
                            <el-select v-model="dateFormat" placeholder="请选择" class="date-format" @change="handleDateFormatChange">
                                <el-option v-for="item in dateFormats" :key="item.value" :label="item.label" :value="item.value">
                                </el-option>
                            </el-select>
                        </div>
                    </div>
                    <div class="public-box" v-if="dateType == 'dateTime'">
                        <span>时间格式</span>
                        <div class="public-box-iuput">
                            <el-select v-model="dateTimeFormat" placeholder="请选择" class="date-format" @change="handleDateTimeFormatChange">
                                <el-option v-for="item in dateTimeFormats" :key="item.value" :label="item.label" :value="item.value">
                                </el-option>
                            </el-select>
                        </div>
                    </div>
                    <div class="public-box">
                        <span>字体&emsp;&emsp;</span>
                        <div class="public-box-iuput">
                            <div class="font-family-input-box">
                                <el-select class="font-family-input" v-model="fontFamily" filterable placeholder="请选择" @change="handleFontFamilyChange">
                                    <el-option
                                            v-for="item in fontFamilies"
                                            :key="item.value"
                                            :label="item.label"
                                            :value="item.value">
                                    </el-option>
                                </el-select>
                            </div>
                            <div class="font-size-select-box">
                                <el-select v-model="fontSize" class="font-size-select" @change="handleFontSizeChange">
                                    <el-option v-for="item in font" :key="item.value" :label="item.label" :value="item.value">
                                    </el-option>
                                </el-select>
                            </div>
                        </div>
                    </div>

                    <div class="text-icon">
                        <el-tooltip class="item" effect="dark" content="加粗" placement="bottom-start">
                            <img src="/res_engine/ppt_design/images/bold.png" @click='Bold'></img>
                        </el-tooltip>
                        <el-tooltip class="item" effect="dark" content="倾斜" placement="bottom-start">
                            <img src="/res_engine/ppt_design/images/italic.png" @click='italic'></img>
                        </el-tooltip>
                        <el-tooltip class="item" effect="dark" content="下划线" placement="bottom-start">
                            <img src="/res_engine/ppt_design/images/underscore.png" @click='underline'></img>
                        </el-tooltip>
                        <el-tooltip class="item" effect="dark" content="删除线" placement="bottom-start">
                            <img src="/res_engine/ppt_design/images/strikethrough.png" @click='linethrough'></img>
                        </el-tooltip>
                        <el-tooltip class="item" effect="dark" content="左对齐" placement="bottom-start">
                            <img src="/res_engine/ppt_design/images/alignLeft.png" @click='textstyle(1)'></img>
                        </el-tooltip>
                        <el-tooltip class="item" effect="dark" content="右对齐" placement="bottom-start">
                            <img src="/res_engine/ppt_design/images/alignRight.png" @click='textstyle(2)'></img>
                        </el-tooltip>
                        <el-tooltip class="item" effect="dark" content="居中" placement="bottom-start">
                            <img src="/res_engine/ppt_design/images/centered.png" @click='textstyle(3)'></img>
                        </el-tooltip>
                    </div>

                </el-collapse-item>
            </el-collapse>
            <div class="public-box textContent-box">
                <textarea class="layui-textarea" id="textContent" style="display: none"></textarea>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        templateType: 'vue',
        data: function () {
            return {
                currentControl: {},
                activeNames:'1',
                date: "",
                dateTime: "",
                slbHeight: '',
                rightToolbarData: {},
                // 字体颜色
                textColor: '#000',
                // 背景颜色
                backgroundColor: '',
                // 日期类型
                dateTypes: [{
                    value: 'date',
                    label: '日期'
                }, {
                    value: 'dateTime',
                    label: '日期-时间'
                }],
                dateType: 'date',
                // 日期格式
                dateFormats: [{
                    value: 'yy-MM-dd',
                    label: 'yy-MM-dd'
                },{
                    value: 'yy/MM/dd',
                    label: 'yy/MM/dd'
                },{
                    value: 'yy:MM:dd',
                    label: 'yy:MM:dd'
                },{
                    value: 'yyyy:MM:dd',
                    label: 'yyyy:MM:dd'
                },{
                    value: 'yyyy:MM:dd',
                    label: 'yyyy:MM:dd'
                },{
                    value: 'yyyy:MM:dd',
                    label: 'yyyy:MM:dd'
                }],
                dateFormat: 'yy-MM-dd',
                // 日期时间格式
                dateTimeFormats: [{
                    value: 'yyyy-MM-dd HH-mm-ss',
                    label: 'yyyy-MM-dd HH-mm-ss'
                },{
                    value: 'yyyy/MM/dd HH/mm/ss',
                    label: 'yyyy/MM/dd HH/mm/ss'
                },{
                    value: 'yyyy:MM:dd HH:mm:ss',
                    label: 'yyyy:MM:dd HH:mm:ss'
                },{
                    value: 'yyyy-MM-dd HH:mm:ss',
                    label: 'yyyy-MM-dd HH:mm:ss'
                },{
                    value: 'yy-MM-dd HH-mm-ss',
                    label: 'yy-MM-dd HH-mm-ss'
                },{
                    value: 'yy/MM/dd HH/mm/ss',
                    label: 'yy/MM/dd HH/mm/ss'
                },{
                    value: 'yy:MM:dd HH:mm:ss',
                    label: 'yy:MM:dd HH:mm:ss'
                },{
                    value: 'yy-MM-dd HH:mm:ss',
                    label: 'yy-MM-dd HH:mm:ss'
                }],
                dateTimeFormat: 'yyyy-MM-dd HH-mm-ss',
                // 字体大小
                font: [{
                    value: '12',
                    label: '12'
                }, {
                    value: '14',
                    label: '14'
                }, {
                    value: '16',
                    label: '16'
                }, {
                    value: '18',
                    label: '18'
                }],
                fontSize: '12',
                // 字体样式
                fontFamily: 'SimSun',
                fontFamilies: [{
                    value: 'SimSun',
                    label: '宋体 SimSun'
                }, {
                    value: 'SimHei',
                    label: '黑体 SimHei'
                }, {
                    value: 'Microsoft YaHei',
                    label: '微软雅黑 Microsoft YaHei'
                }, {
                    value: 'Microsoft JhengHei',
                    label: '微软正黑体 Microsoft JhengHei'
                }],
            }
        },
        created() {
        },
        mounted: function () {
            if (this.loading) {
                return;
            }
            if (!this.loading) {
                this.loading = true;
            }
            this.currentControl = oui.parseJson(oui.parseString(com.oui.absolute.AbsoluteDesign.data.currentControl));
            if (this.currentControl.otherAttrs.dateType) {
                this.dateType = this.currentControl.otherAttrs.dateType;
            }
            if (this.currentControl.otherAttrs.date) {
                this.date = this.currentControl.otherAttrs.date;
            }
            if (this.currentControl.otherAttrs.dateTime) {
                this.dateTime = this.currentControl.otherAttrs.dateTime;
            }
            if (this.currentControl.otherAttrs.dateFormat) {
                this.dateFormat = this.currentControl.otherAttrs.dateFormat;
            }
            if (this.currentControl.otherAttrs.dateTimeFormat) {
                this.dateTimeFormat = this.currentControl.otherAttrs.dateTimeFormat;
            }
            if (this.currentControl.innerStyle.styleField.fontSize) {
                this.fontSize = this.currentControl.innerStyle.styleField.fontSize;
            }
            if (this.currentControl.innerStyle.styleField.fontFamily) {
                this.fontFamily = this.currentControl.innerStyle.styleField.fontFamily;
            }
            if (this.currentControl.style.backgroundColor) {
                this.backgroundColor = this.currentControl.style.backgroundColor;
            }
            if (this.currentControl.innerStyle.styleField.color) {
                this.textColor = this.currentControl.innerStyle.styleField.color;
            }
        },
        methods: {
            updateCurrentControl:function(){
                var Design = com.oui.absolute.AbsoluteDesign;
                var currentControl = Design.data.currentControl;
                console.log(currentControl)
                $('.el-tooltip__popper').remove();
                if(currentControl&&currentControl.id){
                    Design.changed4props({},function(){
                        Design.setCurrPropsData(currentControl, 'center', 'down2selectField');
                    });
                }
            },
            //时间整体背景颜色改变事件
            handleTimeBackgroundColorChange: function () {
                this.currentControl.style.backgroundColor = this.backgroundColor;
                com.oui.absolute.AbsoluteDesign.data.currentControl.style.backgroundColor = this.currentControl.style.backgroundColor;
                this.updateCurrentControl();
            },
            //文本字体颜色改变事件
            handleTextColorChange: function () {
                this.currentControl.innerStyle.styleField.color = this.textColor;
                com.oui.absolute.AbsoluteDesign.data.currentControl.innerStyle.styleField.color = this.currentControl.innerStyle.styleField.color;
                this.updateCurrentControl();
            },
            //时间展示类型改变事件
            handleDateTypeChange: function () {
                this.currentControl.otherAttrs.dateType = this.dateType;
                com.oui.absolute.AbsoluteDesign.data.currentControl.otherAttrs.dateType = this.currentControl.otherAttrs.dateType;

                console.log(this.currentControl.otherAttrs.dateType)
                this.updateCurrentControl();
            },
            //日期选择改变事件
            handleDateChange: function () {
                this.currentControl.otherAttrs.date = this.date;
                com.oui.absolute.AbsoluteDesign.data.currentControl.otherAttrs.date = this.currentControl.otherAttrs.date;
                this.updateCurrentControl();
            },
            //日期时间选择改变事件
            handleDateTimeChange: function () {
                this.currentControl.otherAttrs.dateTime = this.dateTime;
                com.oui.absolute.AbsoluteDesign.data.currentControl.otherAttrs.dateTime = this.currentControl.otherAttrs.dateTime;
                this.updateCurrentControl();
            },
            //日期格式选择改变事件
            handleDateFormatChange: function () {
                this.currentControl.otherAttrs.dateFormat = this.dateFormat;
                com.oui.absolute.AbsoluteDesign.data.currentControl.otherAttrs.dateFormat = this.currentControl.otherAttrs.dateFormat;
                this.updateCurrentControl();
            },
            //日期时间格式选择改变事件
            handleDateTimeFormatChange: function () {
                this.currentControl.otherAttrs.dateTimeFormat = this.dateTimeFormat;
                com.oui.absolute.AbsoluteDesign.data.currentControl.otherAttrs.dateTimeFormat = this.currentControl.otherAttrs.dateTimeFormat;
                this.updateCurrentControl();
            },
            //字体样式选择改变事件
            handleFontFamilyChange: function () {
                this.currentControl.innerStyle.styleField.fontFamily = this.fontFamily;
                com.oui.absolute.AbsoluteDesign.data.currentControl.innerStyle.styleField.fontFamily = this.currentControl.innerStyle.styleField.fontFamily;
                this.updateCurrentControl();
            },
            //字体大小格式选择改变事件
            handleFontSizeChange: function () {
                this.currentControl.innerStyle.styleField.fontSize = this.fontSize;
                com.oui.absolute.AbsoluteDesign.data.currentControl.innerStyle.styleField.fontSize = this.currentControl.innerStyle.styleField.fontSize;
                this.updateCurrentControl();
            },
            //加粗
            Bold() {
                this.currentControl.otherAttrs.bold = this.currentControl.otherAttrs.bold ? false : true
                com.oui.absolute.AbsoluteDesign.data.currentControl.otherAttrs.bold = this.currentControl.otherAttrs.bold;
                this.updateCurrentControl();
            },
            //倾斜
            italic() {
                this.currentControl.otherAttrs.italic = this.currentControl.otherAttrs.italic ? false : true
                com.oui.absolute.AbsoluteDesign.data.currentControl.otherAttrs.italic = this.currentControl.otherAttrs.italic;
                this.updateCurrentControl();
            },
            //下划线
            underline() {
                this.currentControl.otherAttrs.underline = this.currentControl.otherAttrs.underline ? false : true
                com.oui.absolute.AbsoluteDesign.data.currentControl.otherAttrs.underline = this.currentControl.otherAttrs.underline;
                this.updateCurrentControl();
            },
            //删除线 
            linethrough() {
                this.currentControl.otherAttrs.linethrough = this.currentControl.otherAttrs.linethrough ? false : true
                com.oui.absolute.AbsoluteDesign.data.currentControl.otherAttrs.linethrough = this.currentControl.otherAttrs.linethrough;
                this.updateCurrentControl();
                
            },
            //文字对齐
            textstyle(type) {
                this.currentControl.otherAttrs.textstyle = type
                com.oui.absolute.AbsoluteDesign.data.currentControl.otherAttrs.textstyle = this.currentControl.otherAttrs.textstyle;
                this.updateCurrentControl();
            },

        }
    }

</script>

<style>
    body {
        background: #666;
    }
    .el-collapse{
        border: none;
    }
    .el-icon-arrow-down:before {
        content: none;
    }
    .public-box-iuput{
        display: flex;
        align-items: center;
        width: 70%;
        padding-right: 20px;
    }
    /* 文字颜色选择器 */

    .text-color-piker {
        display: flex;
        align-items: center;
    }

    .text-color-piker .el-color-picker {
        height: 30px;
    }

    .text-color-piker .el-color-picker__trigger {
        height: 30px;
        width: 60px;
        border: 1px solid #999;
    }

    /* 背景颜色选择器 */

    .bgcolor-color-piker {
        display: flex;
        align-items: center;
    }

    .bgcolor-color-piker .el-color-picker__trigger {
        height: 30px;
        width: 60px;
        border: 1px solid #999;
    }

    .bgcolor-color-piker .el-color-picker {
        height: 30px;
    }

    /* 外层公共盒子 */

    .public-box {
        display: flex;
        align-items: center;
        margin-top: 20px;
        width: 100%;
    }

    .public-box>span {
        /* margin-right: 8px; */
        color: #fff;
        width: 30%;
        text-align: center;
    }

    /* 类型 */

    .date-type .el-input__inner {
        background-color: transparent;
        border: 1px solid #999;
        color: #fff;
        height: 30px;
        line-height: 30px;
    }

    .date-type .el-input.is-focus .el-input__inner {
        border-color: #999;
    }

    .date-type .el-input__inner:focus {
        border-color: #999;
    }

    .date-type .el-input__icon {
        line-height: 30px;
    }

    /* <!-- 格式 --> */

    .date-format .el-input__inner {
        background-color: transparent;
        border: 1px solid #999;
        color: #fff;
        height: 30px;
        line-height: 30px;
    }

    .date-format .el-input.is-focus .el-input__inner {
        border-color: #999;
    }

    .date-format .el-input__inner:focus {
        border-color: #999;
    }

    .date-format .el-input__icon {
        line-height: 30px;
    }

    /* 字体类型 */

    .font-family-input .el-input__inner {
        background-color: transparent;
        border: 1px solid #999;
        color: #fff;
        height: 30px;
        line-height: 30px;
    }

    .font-family-input-box {
        margin-right: 10px;
    }

    /* 字体大小 */

    .font-size-select .el-input__inner {
        background-color: transparent;
        border: 1px solid #999;
        color: #fff;
        height: 30px;
        line-height: 30px;
    }

    .font-size-select .el-input.is-focus .el-input__inner {
        border-color: #999;
    }

    .font-size-select .el-input__inner:focus {
        border-color: #999;
    }

    .font-size-select .el-input__icon {
        line-height: 30px;
    }

    .font-size-select-box {
        /* width: 22%; */
    }

    /* 富文本编辑器 */

    .textContent-box {
        margin-bottom: 10px;
    }

    .textContent-box .layui-layedit-tool .layui-icon {
        color: #fff;
    }

    .textContent-box .layui-layedit {
        border: none;
    }

    .textContent-box .layui-layedit-iframe {
        display: none;
    }

    .textContent-box .layui-layedit-tool {
        border: none;
    }

    .textContent-box .layui-layedit-tool .layui-icon {
        width: 30px;
    }
    .text-icon{
        align-items: center;
        display: flex;
        justify-content: space-around;
        height: 50px;
        margin: 10px 10px 0 10px;
        cursor: pointer;
    }
</style>